{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="utf-8">
    <title>
        رايكم في
    </title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://www.fontstatic.com/f=vip-hakm-bold" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="{% static "css/style.css" %}">

<body>
    <nav id="navbar"
        class="nav-wrapper d-flex split-items split-items-no-wrap  valign-wrapper blue darken-1 raykomfi-nav">
        <a href="/" class="raykomfi-logo" id="raykomfi-logo"> رايكم في <i class="fa fa-comments-o fa-2x"
                aria-hidden="true"></i>
        </a>
        <p class="hide-on-small-only center-block" id="main-paragraph">منصة تجمع المشترين العرب لأخذ اراء الناس قبل
            الشراء
        </p>
        <ul id="nav-mobile" class="burger-menu left">
            <li>
                <a href="#" data-target="slide-out" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
            </li>
        </ul>
    </nav>
    <div class="container main white">

        <ul id="slide-out" class="sidenav">
            <li><a class="bold center" href="/user/profile/1">احمد علي</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="bold center" href="#">تسجيل خروج</a></li>
            <li><a class="bold center" href="/user/signin">تسجيل دخول</a></li>
            <li><a class="bold center" href="/user/register">حساب جديد</a></li>
        </ul>

        <nav class="white blue-text darken-1  raykomfi-tabs">
            <div class="row">
                <a href="#" class="blue-text darken-1">
                    <p class="custom-tab center col s2 right"><span class=""><i class="fa fa-sort-amount-desc"
                                aria-hidden="true"></i>
                            الأحدث</span></p>
                </a>
                <a href="#" class="blue-text darken-1">
                    <p class="custom-tab col s3 right"><span class="active"><i class="fa fa-pie-chart"
                                aria-hidden="true"></i>
                            الأكثر مناقشة</span></p>
                </a>
                <div class="dropdown-custom col s3 left">
                    <span><i class="fa fa-tags" aria-hidden="true"></i>
                        حسب التصنيف</span>
                    <div class="dropdown-content-custom blue darken-1">
                        <div class="hoverable">
                            <a href="#">كمبيوتر &nbsp;&nbsp;<i class="fa fa-desktop" aria-hidden="true"></i></a>
                        </div>
                        <div class="hoverable">
                            <a href="#">كمبيوتر &nbsp;&nbsp;<i class="fa fa-desktop" aria-hidden="true"></i></a>
                        </div>
                        <div class="hoverable">
                            <a href="#">كمبيوتر &nbsp;&nbsp;<i class="fa fa-desktop" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="raykomfi-content">
            {% block content %}{% endblock %}
        </div>
        <div class="raykomfi-footer">
            <footer class="page-footer blue darken-1">
                <div class="top">
                    <h5 class="white-text">رايكم في <i class="fa fa-comments-o fa-2x" aria-hidden="true"></i>
                    </h5>
                    <p class="grey-text text-lighten-4">منصة تهتم في جمع المشترين العرب للاستفسار عن منتج او جهاز
                        قبل
                        الشراء
                    </p>
                    <h5>تواصل معنا</h5>
                    <div class="">
                        <div><a href="mailto:info@raykomfi.com" class="white-text">info@raykomfi.com</a></div>
                        <div><a href="mailto:support@raykomfi.com" class="white-text">support@raykomfi.com</a></div>
                    </div>
                </div>
                <div class="footer-copyright">
                    <div class="bottom">
                        <div>جميع الحقوق محفوظة 2020</div>
                    </div>
                </div>
            </footer>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static "js/scripts.js" %}"></script>
</body>

</html>