{% load static %}
{% load humanize %}
{% load notifications_tags %}
<!DOCTYPE html>
<meta name="robots" content="noindex">
<html dir="rtl">
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/noti_center.css'  %}">
<link rel="stylesheet" href="{% static 'css/style.css'  %}">

<body class="scrollbar-outer">
    <!--Start of Notifications Modal -->
    {% if user.is_authenticated %}
    <div class="noti-dropdown">
        <i class="fa fa-bell noti-dropbtn" id="noti-btn"> <span class="live_notify_badge_override"></span></i>
        <div id="noti-dropdown" class="noti-dropdown-content">
            {% live_notify_list %}
        </div>
    </div>
    {% endif %}
    <!--End of Notifications Modal -->
    <div id="overlay" class="w3-display-container">
        <div class="w3-display-middle">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
        </div>
    </div>
    <nav class="w3-sidebar w3-bar-block w3-collapse w3-card" id="mySidebar">
        <a href="/"><img src="{% static 'img/raykomfi.png' %}" class="logo"></a>
        <a class="w3-bar-item w3-large" href="#">
            <input type="hidden" name="" id="csrf_token" value="{{ csrf_token }}">
            {% if user.is_authenticated %}
            <h3 class="w3-center">مرحبا {{user.username}}</h3>
            {% endif %}
            <a class="w3-bar-item w3-button" href="{% url 'raykomfi:raykomfi-home' %}">الرئيسية &nbsp;<i
                    class="fa fa-home" aria-hidden="true"></i></a>
            {% if user.is_authenticated %}
            <hr>
            <div>
                <a class="w3-bar-item w3-button" href="{% url 'raykomfi:user-profile' id=user.id %}">الصفحة
                    الشخصية&nbsp;<i class="fa fa-user-circle" aria-hidden="true"></i></a>
                <a class="w3-bar-item w3-button"
                    href="{% url 'raykomfi:posts-get' user_id=user.id %}">إستفساراتي&nbsp;<i
                        class="fa fa-question-circle" aria-hidden="true"></i>
                </a>
                <a class="w3-bar-item w3-button" href="{% url 'raykomfi:messages' user_id=user.id %}">الرسائل&nbsp;
                    {% if not_opened_messages.count > 0 %}
                    <i class="fa fa-circle fa-align-center notification-dot" aria-hidden="true"></i>
                    {% endif %}
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
                <hr>
                <a class="w3-bar-item w3-button" href="{% url 'raykomfi:user-signout' %}">تسجيل خروج &nbsp;<i
                        class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
            {% else %}
            <a class="w3-bar-item w3-button" href="{% url 'raykomfi:user-register' %}">حساب جديد &nbsp;<i
                    class="fa fa-user-plus" aria-hidden="true"></i></a>
            <a class="w3-bar-item w3-button" href="{% url 'raykomfi:user-signin' %}">تسجيل دخول &nbsp;<i
                    class="fa fa-sign-in" aria-hidden="true"></i></a>
            {% endif %}
    </nav>

    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay">
    </div>

    <div class="w3-main raykomfi-main">

        <div id="myTop" class="w3-container w3-top w3-theme raykomfi-theme w3-large w3-row">
            <i class="fa fa-bars w3-button w3-teal raykomfi-theme w3-hide-large w3-xlarge" onclick="w3_open()"></i>
        </div>

        <header class="w3-container w3-theme raykomfi-theme w3-hide-small w3-hide-medium">
            <div class="w3-row">
                <div class="w3-quarter w3-container">

                </div>
            </div>
        </header>

        <div class="raykomfi-content">
            {% if messages %}
            {% for message in messages %}
            <div class="w3-display-container w3-panel w3-{{message.tags}} message-wrapper">
                <span onclick="this.parentElement.style.display='none'"
                    class="w3-button w3-display-topleft">&times;</span>
                <p class="w3-center">{{message}}</p>
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>

        <!-- <footer class="w3-container w3-theme raykomfi-theme">
            <p>جميع الحقوق محفوظة 2020</p>
        </footer> -->

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.7.0/parsley.min.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
    <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/loadmore.js' %}"></script>
    <script src="{% static 'js/controllers.js' %}"></script>
    <script src="{% static 'js/validators.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% register_notify_callbacks callbacks='fill_notification_list_override,fill_notification_badge_override' %}

</body>

</html>