{% load static %}
<!DOCTYPE html>
<meta name="robots" content="noindex">
<html dir="rtl">
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" type="text/css" href="https://www.fontstatic.com/f=tanseek" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/style.css'  %}">
<style>

</style>

<body>

    <nav class="w3-sidebar w3-bar-block w3-collapse w3-card" id="mySidebar">
        <a class="w3-bar-item w3-large" href="#">
            <a class="w3-bar-item w3-button w3-hide-large w3-large" href="javascript:void(0)" onclick="w3_close()">اغلاق
                <i class="fa fa-remove"></i></a>
            {% if user.is_authenticated %}
            <h3 class="w3-center">مرحبا {{user.username}}</h3>
            {% endif %}
            <a class="w3-bar-item w3-button" href="{% url 'raykomfi:raykomfi-home' %}">الرئيسية &nbsp;<i
                    class="fa fa-home" aria-hidden="true"></i></a>
            {% if user.is_authenticated %}
            <hr>
            <div>
                <a class="w3-bar-item w3-button" onclick="myAccordion('demo')" href="javascript:void(0)">حسابك <i
                        class="fa fa-caret-down"></i></a>
                <div id="demo" class="w3-hide">
                    <a class="w3-bar-item w3-button" href="{% url 'raykomfi:user-profile' id=user.id %}">الصفحة
                        الشخصية&nbsp;<i class="fa fa-user-circle" aria-hidden="true"></i></a>
                    <a class="w3-bar-item w3-button" href="{% url 'raykomfi:messages' user_id=user.id %}">الرسائل
                        &nbsp;<i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                    <hr>
                    <a class="w3-bar-item w3-button" href="{% url 'raykomfi:user-signout' %}">تسجيل خروج &nbsp;<i
                            class="fa fa-sign-out" aria-hidden="true"></i></a>
                </div>
            </div>
            {% else %}
            <a class="w3-bar-item w3-button" href="{% url 'raykomfi:user-register' %}">حساب جديد &nbsp;<i
                    class="fa fa-user-plus" aria-hidden="true"></i></a>
            <a class="w3-bar-item w3-button" href="{% url 'raykomfi:user-signin' %}">تسجيل دخول &nbsp;<i
                    class="fa fa-sign-in" aria-hidden="true"></i></a>
            {% endif %}
    </nav>

    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" id="myOverlay">
    </div>

    <div class="w3-main raykomfi-main">

        <div id="myTop" class="w3-container w3-top w3-theme raykomfi-theme w3-large">
            <p><i class="fa fa-bars w3-button w3-teal raykomfi-theme w3-hide-large w3-xlarge" onclick="w3_open()"></i>
                <span id="myIntro" class="w3-hide">منصة تهتم بالمشترين العرب وتجمعهم ليتبادلو الاراء قبل شراء أي
                    منتج</span></p>
        </div>

        <header class="w3-container w3-theme raykomfi-theme">
            <div class="w3-row">
                <div class="w3-quarter w3-container">

                </div>
            </div>
        </header>

        <div class="w3-container raykomfi-content">
            {% if messages %}
            {% for message in messages %}
            <div class="w3-display-container w3-panel w3-{{message.tags}} message-wrapper">
                <span onclick="this.parentElement.style.display='none'"
                    class="w3-button w3-display-topleft">&times;</span>
                <p class="w3-center">{{message}}</p>
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>

        <!-- <footer class="w3-container w3-theme raykomfi-theme">
            <p>جميع الحقوق محفوظة 2020</p>
        </footer> -->

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>