/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Main Style */
html {
  font-size: 16px;
  box-sizing: border-box;
}

:root {
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1920 - 320));
}

body {
  font-family: "Almarai", sans-serif;
  color: #484848;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.hide-overflow {
  overflow: hidden;
}

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  overflow: hidden;
}

.center-block {
  margin: 0 auto;
}

.lazy-img {
  max-width: 100px;
  max-height: 100px;
  width: 100px;
  height: 100px;
}

.raykomfi-main-background-color {
  background-color: #2196f3 !important;
  color: #fff !important;
}

.raykomfi-secondary-background-color {
  background-color: #186bae !important;
  color: #fff !important;
}

.raykomfi-main-color {
  color: #2196f3 !important;
}

.raykomfi-secondary-color {
  color: #186bae !important;
}

.raykomfi-main-padding {
  padding: 20px !important;
}

.raykomfi-max-width {
  max-width: 1600px;
}

.raykomfi-main-box-margin {
  margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
p,
small,
.force-main-color {
  font-family: "Almarai", sans-serif;
  color: #484848 !important;
}

.logo {
  width: 100%;
  height: auto;
}

/* small {
  font-size: 13px;
} */

.raykomfi-margin-small {
  margin: 5px;
}

.ray-box {
  margin: 10px 0;
  padding: 20px !important;
}

.lazy-load-linkwrapper {
  margin: 30px 0;
}

.lazy-load-linkwrapper a:hover {
  background-color: #eeeeee;
}

.connected-users {
  position: absolute;
  right: 36%;
  bottom: 3%;
}

/* div {
  font-size: 18px;
} */

#myIntro {
  color: #fff !important;
}

.clear-fix {
  clear: both;
}

.comment {
  margin-top: 20px;
}

textarea {
  resize: none;
}

.raykomfi-color {
  color: #2980b9 !important;
}

.notification-dot {
  position: relative;
  right: 9px;
  bottom: 9px;
  font-size: 8px;
  color: #c62828;
  margin-right: -13px;
}

.raykomfi-tag {
  background-color: #2980b9;
  color: #fff;
  padding: 0px 3px 3px 3px;
}

.w3-dropdown-content {
  top: 40px;
  border-radius: 8px;
  border: none;
}

.w3-dropdown-content a {
  text-align: right !important;
}

.w3-bar-block .w3-bar-item {
  padding: 16px;
  font-weight: bold;
}

nav {
  z-index: 3 !important;
  width: 250px !important;
}

.raykomfi-logo {
  width: 80% !important;
}

.raykomfi-main {
  margin-right: 250px;
}

header {
  padding: 54px 32px !important;
}

.raykomfi-content {
  padding: 32px !important;
}

footer {
  padding: 32px !important;
}

.raykomfi-theme {
  color: #fff !important;
  background-color: #2980b9 !important;
}

.raykomfi-active {
  text-decoration: none;
  color: #fff !important;
  background-color: #2980b9 !important;
}

.latest-opinion {
  padding: 10px;
  transition: background-color 0.2s ease-in-out;
}

.latest-opinion p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.latest-opinion:hover {
  background-color: #f6f6f6;
}

.latest-opinion:hover a {
}

.w3-button {
  transition: background-color 0.2s ease-in-out;
}

.w3-button:focus {
  outline: none;
}

.message-wrapper span.w3-button:hover {
  background-color: transparent !important;
}

a {
  text-decoration: none;
}

.raykomfi-button {
  background-color: #2196f3;
  color: #fff;
  margin-top: 10px;
}

.raykomfi-button:hover {
  background-color: #1e618e !important;
  color: #fff !important;
}

.raykomfi-button-no-hover.w3-red:hover {
  background-color: #f44336 !important;
  color: #fff !important;
}

.large-font {
  font-size: 300px;
}

.errorlist {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  background-color: #ffdddd !important;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.helptext ul {
  background-color: #ddffdd !important;
  border: 1px solid #eee color #000 !important;
  border-radius: 8px;
}

.errorlist li {
  list-style-type: none;
  color: #000;
  padding-right: 5px;
}

.errorlist li::after {
  font-family: FontAwesome;
  font-weight: 500;
  content: "\f063";
  padding-right: 5px;
  /* font-size: 12px; */
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
  border: 2px solid #186bae !important;
}

/* Main Style */

/* Notifications Modal Styles */
.noti-dropbtn {
  background-color: #3498db;
  color: white;
  padding: 11px;
  font-size: 33px;
  border: none;
  cursor: pointer;
  position: fixed;
  z-index: 999;
  left: 100px;
  bottom: 100px;
  border-radius: 50%;
}

.noti-dropbtn:hover,
.noti-dropbtn:focus {
  background-color: #2980b9;
}

.noti-dropdown {
  position: relative;
  height: 0;
}

.noti-dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 999;
  word-break: break-word;
  left: 176px;
  bottom: 103px;
  min-height: 200px;
  text-align: right;
  border-radius: 8px;
  min-width: 500px;
  padding: 15px;
}
.noti-dropdown-content:after {
  content: " ";
  position: absolute;
  left: -10px;
  bottom: 15px;
  border-top: 10px solid transparent;
  border-right: 10px solid #fff;
  border-left: none;
  border-bottom: 10px solid transparent;
}

.noti-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.noti-dropdown a:hover {
  background-color: #ddd;
}

.noti-show {
  display: block;
}

.live_notify_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.live_notify_list li {
  border-bottom: 2px solid #dfdede;
  padding-bottom: 5px;
}

.live_notify_list li:last-child {
  border-bottom: none;
}

.live_notify_list > div {
  text-align: center;
  vertical-align: center;
}

.live_notify_badge_override {
  position: absolute;
  color: #f70d0d !important;
  font-size: 10px;
  left: 32px;
  top: 12px;
}

/* Notifications Modal Styles */

/* Home Style */
.ray-box {
  padding: 16px 0;
  transition: background-color 0.2s ease-in-out;
  background-color: #fff;
}

.ray-box-footer-icons {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #dbdbdb;
  padding-top: 10px;
  flex-direction: row;
}

.ray-order {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
}

.ray-order .order-btn {
  margin: 5px;
}

.ray-order .w3-button:hover {
  color: #fff !important;
  background-color: #186bae !important;
}

.new-post-side {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.new-post-side button {
  width: 50px;
  height: 50px;
  line-height: 36px;
  border-radius: 50%;
  background-color: #aaa;
  color: #fff;
}

/* .ray-box .poster-name {
  font-size: 22px;
} */

.ray-box h3 {
  color: #2196f3 !important;
}
.new-post-side:hover button {
  background-color: #a2a2a2 !important;
  color: #fff !important;
}

/* Home Style */

/* Post View Style */
.comment-wrapper {
  margin-bottom: 10px;
  padding-right: 5px !important;
  word-break: break-word;
  background-color: #fff;
  padding-top: 20px !important;
}

.comment-reply-side {
  margin-top: 10px;
}

.comment-reply-side > div {
  margin-bottom: 15px;
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 8px;
}

.reply {
  margin-top: 10px;
}

.reply-buttons .w3-button,
.comment-button .w3-button {
  background-color: #2196f3;
  color: #fff;
  margin-top: 10px;
}

.reply-buttons .w3-button:hover,
.comment-buttons .w3-button:hover {
  background-color: #186bae !important;
  color: #fff !important;
}

.related-posts {
  padding-right: 5px;
  padding-left: 5px;
}

.vote-side {
}

.vote-side span {
  cursor: pointer;
  text-rendering: geometricPrecision;
  position: relative;
  transform-origin: 50% 30%;
  display: block;
  color: #2980b9;
  transition: color 0.3s ease-in-out;
}

.vote-side span:hover {
  color: #2c3e50;
}

/* Searchbar Style */
#search-field-wrapper {
  display: none;
}
.search-input {
  border: 0;
  padding: 10px;
}
.search-input:focus {
  outline: none;
  border: 0 !important;
}
.show-search-field {
  display: block !important;
}
/* Searchbar Style */

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  max-width: 20%;
  height: auto;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  cursor: pointer;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 3%;
  left: 11%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
}

.dislike-button,
.like-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

.dislike-button i,
.like-button i {
  font-size: 24px;
  color: #186bae;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .large-font {
    font-size: 150px;
  }
  .modal-content {
    width: 100%;
  }
}

/* Post View Style */

/* Parcely Validator Styles */
.parsley-errors-list.filled {
  color: #c62828;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
/* Parcely Validator Styles */

/* Profile Style */
.profile-view-data span {
  display: inline-block;
  width: 90px;
}

/* Pofile Style */

/* Messages Style */
.incoming-messages-wrapper i {
  line-height: 42px;
}

.incoming-messages-wrapper .w3-card {
  cursor: pointer;
}

.message-view {
  min-height: 500px;
  max-height: 500px;
  min-width: 100%;
  max-width: 400px;
  overflow-y: scroll;
  border-right: 1px solid #2196f3;
}

.message-view-preview {
  min-height: 500px;
  max-height: 500px;
  overflow-y: scroll;
}

.message-button {
  display: block;
  width: 100%;
  background-color: #eee;
  margin: 10px 0;
  border: 1px solid #000;
  transition: background-color 0.2s ease-in-out;
}

.message-button:hover {
  background-color: #2196f3;
}

.message-button.opened {
  background-color: beige;
}

.message-button.opened:hover {
  background-color: beige;
}

.message-view .message-sender span:nth-child(1) {
  width: 50px;
  margin-left: 10px;
  display: inline-block;
}

.message-view .message-sender span:nth-child(2):hover {
  text-decoration: underline;
}

.user-posts-wrapper div {
  margin-bottom: 10px;
  border-right: 2px solid #2196f3;
  background-color: #f1f1f1;
  border-radius: 8px;
}

/* Messages Style */

/* Spinner Style */

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #2196f3;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

/* ----- */

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
  margin: 0 auto;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: #2196f3;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}
/* Spinner Style */

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2196f3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #186bae;
}
/* Custom Scrollbar */

/* Search loader */
.spinner {
  text-align: center;
}

.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #1e618e;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* Search loader */

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .large-font {
    font-size: 150px;
  }
  .modal-content {
    width: 100%;
  }
  .raykomfi-content {
    padding: 32px 0 !important;
  }
}

@media only screen and (max-width: 992px) {
  .message-view {
    border: none;
  }

  .noti-dropbtn {
    left: 25px;
    bottom: 25px;
  }

  .noti-dropdown-content {
    left: 0;
    bottom: 96px;
    border-radius: 0;
    min-width: 100%;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (min-width: 601px) and (max-width: 992px) {
}

@media only screen and (max-width: 600px) {
  .ray-order {
    margin-top: 40px;
    padding: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .raykomfi-content {
    padding: 32px 0 !important;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (min-width: 320px) and (max-width: 420px) {
  /* #myIntro {
    font-size: 12px;
  } */
}

@media only screen and (max-width: 350px) {
  .ray-box-footer-icons {
    font-size: 13px;
  }
}
