{% extends "base.html" %}
{% block content %}

<div class="w3-container">
    <div class="w3-col s12 m12 l12">
        <div class="card white about-content">
           <div class="latest-admin-users">
            <h3>اخر الاعضاء</h3>
           </div>
           <div class="divider"></div>
           <div class="latest-admin-posts">
            <h3>اخر الاستفسارات</h3>
           </div>
           <div class="divider"></div>
           <div class="latest-admin-comments">
            <h3>اخر الاراء</h3>
           </div>
           <div class="divider"></div>
           <div class="latest-admin-replies">
            <h3>اخر الردود</h3>
           </div>
        </div>
    </div>
</div>

{% endblock content %}