{% extends "base.html" %}
{% block content %}

<div class="w3-container">
    <div class="w3-col s12 m12 l6">&nbsp;</div>
    <div class="w3-col s12 m12 l6">
        <div class="card white">
            <div class="card-content">

                <div>
                    <div class="raykomfi-bold">ما هي منصة <span class="raykomfi-secondary-color">رايكم في</span>  ؟</div>

                    <div class="meduim">
                        منصة إلكترونية تجمع لكم الأشياء التي تريد البحث عنها وبسرعة كبيرة ودقيقة في البحث ودائمة التحديث لمواضيعها وتمنحك الحصول على الرأي الصواب و الدقيق.
                        <br>
                       الإنسان بطبعه يريد دائما أن يرى ما رأي الناس في أي شيء حتى لو كان الشيء يراه كاملا وليس فيه عيب, لهذا تم تطوير منصة ( رايكم في ), توفر منصة ( رايكم في ) المجتمع الأمثل للرجوع إليه عندما تريد معرفة آراء الأشخاص  في أي موضوع كان. 
                    </div>
                </div>
<br>
                <div>
                    <div class="raykomfi-bold">لماذا منصة <span class="raykomfi-secondary-color">رايكم في</span> ؟</div>

                    <div class="meduim">
                        منصة ( رايكم في )  تجمع لك كل الأشياء التي تود البحث عنها في مكان واحد سريع ودقيق في البحث وسهل الإستخدام, بدل القفز بين مختلف المواقع في الإنترنت للبحث عن نفس المواضيع التي ربما تكون قديمة وغير دقيقة.
                    </div>
                </div>
<br>
                <div>
                    <div class="raykomfi-bold">ما الذي يميز منصة <span class="raykomfi-secondary-color">رايكم في</span> ؟</div>

                    <div class="meduim">
                           إستفسارات جديدة ومحدثة بشكل دوري, سهولة في البحث عن الرأي بدقة عالية وفي كل أنواع المواضيع, بسبب خوارزميات منصة ( رايكم في ) أصبح بإمكانك الحصول على الرأي الصحيح و الدقيق من الأشخاص المطلوب إستفسارهم من مكان واحد حتى دون المرور بإجراءات التسجيل إذا أردت وذلك عن طريق طلب رمز المشاركة.
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

{% endblock content %}