{% extends "base.html" %}
{% block content %}

<div class="w3-container">
    <div class="w3-col s12 m12 l12">
        <div class="card white about-content">
            <div class="card-content">

                <div>
                    <div class="raykomfi-bold">عن منصة  <span class="raykomfi-secondary-color">رايكم في</span> </div>
                    <div class="meduim">
                        الإنسان بطبعه يريد دائما أن يرى ما رأي الناس في أي شيء حتى لو كان الشيء يراه كاملا وليس فيه عيب, لهذا تم تطوير منصة ( رايكم في ). 
                        <br>
                        توفر منصة ( رايكم في ) البيئة المناسبة للبحث أو إستفسار رأي الآخرين في الكثير من المجالات و الأشياء, وتخلق لك منصة ( رايكم في ) الفرصة لمقابلة آراء أشخاص عاشوا التجربة الحقيقية يستطيعون من خلال ذلك مشاركة نتائج تجربتهم وإعطاءك النصيحة, وكل ذلك مجانا.
                    </div>
                </div>
<br>
                <div>
                    <div class="raykomfi-bold">ما هي منصة <span class="raykomfi-secondary-color">رايكم في</span>  ؟</div>

                    <div class="meduim">
                        ‏‏‏منصة إلكترونية تجمع لكم الأشياء التي تريد البحث أو إستفسار رأي الآخرين عنها. دائمة التحديث لمواضيعها لتمنحك الفرصة للحصول على الرأي الصواب و الدقيق.                       
                    </div>
                </div>
<br>
                <div>
                    <div class="raykomfi-bold">لماذا منصة <span class="raykomfi-secondary-color">رايكم في</span> ؟</div>

                    <div class="meduim">
                         بدأت فكرة منصة ( رايكم في ) كمشروع يغطي مشكلة الناس في البحث عن رأي الناس في شيء يريدون شراءه, هذه الفكرة تكاد تكون غير متوفرة في العالم العربي, لهذا أنشأنا المنصة لتكون مرجع للناس في الإستفسار والبحث عن رأي الناس الذين خاضوا التجربة من مكان واحد سريع ودقيق في البحث وسهل الإستخدام, بدل القفز بين مختلف المواقع في الإنترنت للبحث عن نفس المواضيع التي ربما تكون قديمة وغير دقيقة.
                    </div>
                </div>
<br>
                <div>
                    <div class="raykomfi-bold">ما الذي يميز منصة <span class="raykomfi-secondary-color">رايكم في</span> ؟</div>

                    <div class="meduim">
                           إستفسارات جديدة ومحدثة بشكل دوري, سهولة في البحث عن الرأي بدقة عالية وفي كل أنواع المواضيع, بسبب خوارزميات منصة ( رايكم في ) أصبح بإمكانك الحصول على الرأي الصحيح و الدقيق من الأشخاص المطلوب إستفسارهم من مكان واحد حتى دون الحاجة للتسجيل إذا أردت وذلك عن طريق المشاركة كمجهول.
                    </div>
                </div>



            </div>
            <br>
            <br>
            <br>
                <div class="row raykomfi-main-padding  raykomfi-max-width">
                    <h3 class="center">تواصل معنا</h3>
                    <div class="raykomfi-form w3-margin">
                        <form action="" id="contact-us-form" class="contactUsForm">
                            {{form}}
                            <button class="w3-button raykomfi-button ">إرسال</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>

{% endblock content %}