{% extends "base.html" %}

{% block content %}

<div class="row raykomfi-main-padding  raykomfi-max-width">
    <h3>هل أنت متأكد ؟</h3>
    <p class="card-panel white center">حذفك للحساب يجعلك غير قادر على الدخول لحسابك, لكن يتم حذف بريدك الإلكتروني وكامل بياناتك الشخصية أما بخصوص إستفساراتك, آراءك و ردودك ستبقى
        لكن
        بدون إسم المستخدم</p>
    <a href="{% url 'raykomfi:user-profile' id=user.id %}" class="btn red">لا</a>
    <a href="{% url 'raykomfi:user-delete' id=user.id %}?question={{ true }}" class="btn green w3-text-white ">نعم, أنا
        متأكد</a>
</div>


{% endblock content %}