{% extends "base.html" %}

{% block content %}

<div class="row raykomfi-main-padding  raykomfi-max-width">
    {% if user.email_active %}
    <div class="w3-col s12 m6 l6">&nbsp;</div>
    <div class="w3-col s12 m6 l6">
        <h3 class="w3-center">إستفسار جديد</h3>
        <form action="{% url 'raykomfi:post-new' %}" enctype="multipart/form-data" method='post' id="create-post-form">
            {% csrf_token %}
            {{ form }}
            <button class="w3-button raykomfi-button ">تأكيد</button>
        </form>
    </div>

    {% else %}
    <div class="w3-display-container w3-panel w3-pale-yellow w3-border message-wrapper">
        <p class="w3-center">فعل حسابك للإستفسار عن ماذا تريد الشراء</p>
    </div>
</div>
{% endif %}


{% endblock content %}