{% extends "base.html" %}

{% block content %}

<div class="w3-container">
    <div class="row raykomfi-main-padding  raykomfi-max-width">
        <div class="w3-col s12">
            <h3 class="w3-center">إستفسار جديد</h3>
            <form action="{% url 'raykomfi:post-new-withnoregistration' %}" enctype="multipart/form-data" method='post' id="create-post-with-no-registration-form">
                {% csrf_token %}
                {{ form }}
                <button class="w3-button raykomfi-button ">تأكيد</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}