{% extends "base.html" %}
{% block content %}

<div class="w3-container">
    <div class="w3-row raykomfi-main-padding  raykomfi-max-width">
        <div class="w3-col s12 m6 l6">&nbsp;</div>
        <div class="w3-col s12 m6 l6">
            <form action="{% url 'raykomfi:post-edit' id=post.id slug=post.slug %}" enctype="multipart/form-data"
                method="POST" id="edit-post-form">
                <h1 class="w3-center">تعديل إستفسار</h1>
                {% csrf_token %}
                {{form}}
                <button class="w3-button raykomfi-button ">تعديل</button>
            </form>
        </div>
    </div>
</div>
</div>


{% endblock content %}