{% extends "base.html" %}
{% load materializecss %}

{% block content %}

<div class="row">
    <form class="col s12" action="{% url 'raykomfi:post-edit' id=post.id slug=post.slug %}"
        enctype="multipart/form-data" method="POST">
        <h1 class="center">تعديل موضوع</h1>
        {% csrf_token %}
        {% for field in form %}
        {% if field.name != 'image' %}
        {{ field|materializecss }}
        {% else %}
        {{field|materializecss}}
        {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn blue white-text darken-1">تعديل</button>
    </form>
</div>


{% endblock content %}