{% extends "base.html" %}
{% load thumbnail %}
{% load humanize %}


{% block content %}


<div class="w3-row-padding">
    <div class="w3-col l1 w3-hide-small">&nbsp</div>
    <div class="w3-col s12 m4 l4 w3-hide-small">
        <div class="w3-padding w3-white w3-round-large">
            <h4 class="w3-center">اخر الأراء</h4>
            {% for comment in latest_comments %}
            <div class="w3-row latest-opinion">
                {% if comment.user and comment.user.is_active != False %}
                <a href="{% url 'raykomfi:user-profile' id=comment.user.id %}"><span><i class="fa fa-user"
                            aria-hidden="true"></i> {{comment.user}}</span></a>
                {% else %}
                <span><i class="fa fa-user" aria-hidden="true"></i> عضو لم يعد موجود</span>
                {% endif %}
                <p>{{ comment.content }}</p>
                <div class="">
                    <span class="w3-tag w3-round-large w3-red w3-center w3-small"><i class="fa fa-reply"
                            aria-hidden="true"></i>رد على</span>
                    <a href="{{ comment.post.get_absolute_url }}" class="">{{ comment.post.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="w3-col s12 m8 l6 ray w3-round-large">
        <div class="w3-row ray-order">
            <a href="/" class="order-btn"><button class="w3-button w3-round-large raykomfi-main-background-color"><i
                        class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                    الأحدث</button></a>
            <a href="{% url 'raykomfi:most-discussed-posts' %}" class="order-btn"><button
                    class="w3-button w3-round-large raykomfi-main-background-color"><i class="fa fa-commenting"
                        aria-hidden="true"></i>
                    الأكثر مناقشة</button></a>
            <div class="w3-dropdown-hover w3-round-large order-btn">
                <button class="w3-button w3-round-large raykomfi-main-background-color"><i class="fa fa-tags"
                        aria-hidden="true"></i>
                    حسب التصنيف</button>
                <div class="w3-dropdown-content w3-bar-block w3-round-large w3-card">
                    {% for category in categories %}
                    <a href="{% url 'raykomfi:filtered-posts' category=category.name %}"
                        class="w3-bar-item w3-button">{{category.name}}</a>
                    {% endfor %}
                </div>
            </div>
            <button class="w3-button w3-round-large raykomfi-main-background-color order-btn" id="search-btn">
                <i class="fa fa-search"></i> بحث </button>
        </div>
        <div class="w3-row" id="search-field-wrapper">
            <br>
            <div class="w3-col w3-padding w3-round-large w3-white">
                <div class="spinner" id="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <form class="postsSearchForm">
                    <input class="w3-input search-input" type="text" placeholder="بحث عن إستفسار ..." name="q">
                </form>
            </div>
        </div>
        {% if not user.is_authenticated %}
        <div class="w3-display-container w3-panel w3-pale-yellow w3-border message-wrapper">
            <p class="w3-center"><a href="{% url 'raykomfi:user-register' %}" class="w3-text-blue">سجل حساب جديد</a> أو
                <a href="{% url 'raykomfi:user-signin' %}" class="w3-text-blue">سجل الدخول</a> لإستفسار الناس عن ما تريد
                الشراء</p>
        </div>
        {% else %}
        {% if user.email_active %}
        <a href="{% url 'raykomfi:post-new' %}" title="اضافة منشور جديد">
            <div class="new-post-side">
                <button class="w3-button w3-center"><i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>
        </a>
        {% else %}
        <div class="w3-display-container w3-panel w3-pale-yellow w3-border message-wrapper">
            <p class="w3-center">فعل حسابك للإستفسار الناس عن ما تريد الشراء</p>
        </div>
        {% endif %}
        {% endif %}
        <div id="raykomfi-posts">
            {% for post in posts %}
            <div class="w3-padding ray-box w3-round-large">
                {% if post.creator and post.creator.is_active != False %}
                <a href="{% url 'raykomfi:user-profile' id=post.creator.id %}">
                    <span class="poster-name">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        {{post.creator}}
                    </span>
                </a>
                {% else %}
                <span class="poster-name">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    عضو لم يعد موجود
                </span>
                {% endif %}
                <a href="{{post.get_absolute_url}}">
                    <h3>{{post.title |truncatechars:100}}</h3>
                    {% if post.image %}
                    <div class="ray-image-section">
                        <img src="" alt="{{post.title}}" data-src="{{ post.image.url }}"
                            class="lazy-img w3-round-large">
                    </div>
                    {% endif %}
                    <div class="ray-box-footer-icons">
                        <div class="">
                            <span><i class="fa fa-clock-o" aria-hidden="true"></i> {{post.created | naturaltime}}</span>
                        </div>
                        <div class="">
                            <span><i class="fa fa-comments" aria-hidden="true"></i> {{post.comments.count}}</span>
                        </div>
                        <div class="">
                            <span><i class="fa fa-tags" aria-hidden="true"></i> {{post.category}}</span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="sk-chase" id="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
        {% if hide_load_more == True %}

        {% else %}
        {% if is_categorized == True %}
        <div class="lazy-load-linkwrapper w3-center">
            <a id="lazyLoadLink" class="w3-border w3-padding" href="javascript:void(0);" data-page="2"
                data-category="{{category}}">عرض المزيد</a>
        </div>
        {% else %}
        <div class="lazy-load-linkwrapper w3-center">
            <a id="lazyLoadLink" class="w3-border w3-padding" href="javascript:void(0);" data-page="2">عرض المزيد</a>
        </div>
        {% endif %}
        {% endif %}

    </div>
    <div class="w3-col s12 m4 l4 w3-hide-medium w3-hide-large">
        <div class="w3-padding w3-white w3-round-large">
            <h4 class="w3-center">اخر الأراء</h4>
            {% for comment in latest_comments %}
            <div class="w3-row latest-opinion">
                {% if comment.user and comment.user.is_active != False %}
                <a href="{% url 'raykomfi:user-profile' id=comment.user.id %}"><span><i class="fa fa-user"
                            aria-hidden="true"></i> {{comment.user}}</span></a>
                {% else %}
                <span><i class="fa fa-user" aria-hidden="true"></i> عضو لم يعد موجود</span>
                {% endif %}
                <p>{{ comment.content }}</p>
                <div class="">
                    <span class="w3-tag w3-round-large w3-red w3-center w3-small"><i class="fa fa-reply"
                            aria-hidden="true"></i>رد على</span>
                    <a href="{{ comment.post.get_absolute_url }}" class="">{{ comment.post.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="w3-col l1 w3-hide-small w3-hide-medium">&nbsp</div>
</div>

{% endblock content %}