{% extends "base.html" %}
{% load thumbnail %}
{% load humanize %}


{% block content %}


<div class="w3-row-padding">
    <div class="w3-col l1 w3-hide-small">&nbsp</div>
    <div class="w3-col s12 m4 l4 w3-hide-small">
        <div class="w3-padding w3-white w3-round-large">
            <h4 class="w3-center">اخر الأراء</h4>
            {% for comment in latest_comments %}
            <div class="w3-row latest-opinion">
                {% if comment.user and comment.user.is_active != False %}
                <a href="{% url 'raykomfi:user-profile' id=comment.user.id %}"><span><i class="fa fa-user"
                            aria-hidden="true"></i> {{comment.user}}</span></a>
                {% else %}
                <span><i class="fa fa-user" aria-hidden="true"></i> عضو لم يعد موجود</span>
                {% endif %}
                <p>{{ comment.content }}</p>
                <div class="">
                    <span class="w3-tag w3-round-large w3-red w3-center w3-small"><i class="fa fa-reply"
                            aria-hidden="true"></i>رد على</span>
                    <a href="{{ comment.post.get_absolute_url }}" class="">{{ comment.post.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="w3-col s12 m8 l6 ray w3-round-large">
        <div class="w3-row ray-order">
            <div class="w3-half">
                <div class="w3-dropdown-hover w3-round-large">
                    <button class="w3-button w3-round-large raykomfi-main-background-color"><i class="fa fa-tags"
                            aria-hidden="true"></i>
                        حسب التصنيف</button>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="#" class="w3-bar-item w3-button">كمبيوتر</a>
                        <a href="#" class="w3-bar-item w3-button">جوال</a>
                        <a href="#" class="w3-bar-item w3-button">منزلي</a>
                    </div>
                </div>
            </div>
            <div class="w3-half">
                <button class="w3-button w3-round-large raykomfi-main-background-color"><i
                        class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                    الأحدث</button>
            </div>
        </div>
        <div class="create-new-post">

        </div>
        {% if not user.is_authenticated %}
        <div class="w3-display-container w3-panel w3-pale-yellow w3-border message-wrapper">
            <p class="w3-center"><a href="{% url 'raykomfi:user-register' %}" class="w3-text-blue">سجل حساب جديد</a> أو
                <a href="{% url 'raykomfi:user-signin' %}" class="w3-text-blue">سجل الدخول</a> لإستفسار الناس عن ما تريد
                الشراء</p>
        </div>
        {% else %}
        {% if user.email_active %}
        <a href="{% url 'raykomfi:post-new' %}" title="اضافة منشور جديد">
            <div class="new-post-side">
                <button class="w3-button w3-center"><i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>
        </a>
        {% else %}
        <div class="w3-display-container w3-panel w3-pale-yellow w3-border message-wrapper">
            <p class="w3-center">فعل حسابك للإستفسار الناس عن ما تريد الشراء</p>
        </div>
        {% endif %}
        {% endif %}

        <div id="raykomfi-posts">
            {% for post in posts %}
            <div class="w3-padding ray-box w3-round-large">
                {% if post.creator and post.creator.is_active != False %}
                <a href="{% url 'raykomfi:user-profile' id=post.creator.id %}">
                    <span class="poster-name">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        {{post.creator}}
                    </span>
                </a>
                {% else %}
                <span class="poster-name">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    عضو لم يعد موجود
                </span>
                {% endif %}
                <a href="{{post.get_absolute_url}}">
                    <h3>{{post.title |truncatechars:100}}</h3>
                    {% if post.image %}
                    <div class="ray-image-section">
                        {% thumbnail post.image "100x100" crop="center" as im %}
                        <img src="{{ im.url }}" alt="{{post.title}}" width="{{ im.width }}" height="{{ im.height }}"
                            data-src="{{ im.url }}" class="lazy-img" alt="{{post.slug}}" />
                        {% endthumbnail %}
                    </div>
                    {% endif %}
                    <div class="ray-box-footer-icons">
                        <div class="">
                            <span><i class="fa fa-clock-o" aria-hidden="true"></i> {{post.created | naturaltime}}</span>
                        </div>
                        <div class="">
                            <span><i class="fa fa-comments" aria-hidden="true"></i> {{post.comments.count}}</span>
                        </div>
                        <div class="">
                            <span><i class="fa fa-tags" aria-hidden="true"></i> {{post.category}}</span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="sk-chase" id="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
        <div class="lazy-load-linkwrapper w3-center">
            <a id="lazyLoadLink" class="w3-border w3-padding" href="javascript:void(0);" data-page="2">عرض المزيد</a>
        </div>
    </div>
    <div class="w3-col s12 m4 l4 w3-hide-medium w3-hide-large">
        <div class="w3-padding w3-white w3-round-large">
            <h4 class="w3-center">اخر الأراء</h4>
            {% for comment in latest_comments %}
            <div class="w3-row latest-opinion">
                {% if comment.user and comment.user.is_active != False %}
                <a href="{% url 'raykomfi:user-profile' id=comment.user.id %}"><span><i class="fa fa-user"
                            aria-hidden="true"></i> {{comment.user}}</span></a>
                {% else %}
                <span><i class="fa fa-user" aria-hidden="true"></i> عضو لم يعد موجود</span>
                {% endif %}
                <p>{{ comment.content }}</p>
                <div class="">
                    <span class="w3-tag w3-round-large w3-red w3-center w3-small"><i class="fa fa-reply"
                            aria-hidden="true"></i>رد على</span>
                    <a href="{{ comment.post.get_absolute_url }}" class="">{{ comment.post.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="w3-col l1 w3-hide-small w3-hide-medium">&nbsp</div>
</div>

{% endblock content %}