{% extends "base.html" %} {% block content %}

<div class="w3-row-padding raykomfi-main-padding  raykomfi-max-width w3-white z-depth-1" id="messages-view">
  {% if user.email_active %}
  <div class="w3-col s12 m12 l6">
    <div class="w3-padding message-view">
      <h3 class="w3-center">عرض رسالة</h3>
      {% if fetched_message %}

      <div class="message-sender">
        <span>المرسل</span>
        {% if fetched_message.user and fetched_message.user.is_active != False %}
        {% if fetched_message.user.username == 'الإدارة' %}
        الإدارة
        {% else %}
        <span><a href="{% url 'raykomfi:user-profile' id=fetched_message.user.id %}">{{ fetched_message.user.username }}</a></span>
        {% endif %}
        {% else %}
        <span><i class="fa fa-user" aria-hidden="true"></i> مجهول</span>
        {% endif %}
    </div>
      <hr />
      <div class="message-content">
        <span id="message-content-field">
          <pre>
            {{fetched_message.content|safe}}
          </pre>
        </span>
      </div>
      {% else %} <p class="center">لم تعرض أي رسالة</p> {% endif %}
    </div>
  </div>
  <div class="w3-col s12 m12 l6">
    <h3 class="center">الرسائل الواردة</h3>
    <div class="messages-box">
      <div class="incoming-messages-wrapper">
        {% if user_messages %}
        {% for message in user_messages %}
        <form class="getMessageForm" data-message-id="{{ message.id }}">
          {% csrf_token %}
          <button type="submit" class="w3-card w3-padding message-button  {{ message.is_read|yesno:'opened, ' }}">
            {% if message.is_read %}
            <i class="fa fa-envelope-open w3-left" aria-hidden="true"></i>
            {% else %}
            <i class="fa fa-envelope w3-left" aria-hidden="true"></i>
            {% endif %}
            <div class="w3-right w3-xlarge">{{ message.title }}</div>
            <div class="clear-fix"></div>
          </button>
        </form>
        {% endfor %}
        {% else %}
        <p class="w3-center">لا يوجد لديك أي رسائل واردة</p>
        {% endif %}
      </div>
    </div>
  </div>

  {% else %}
  <div class="w3-display-container w3-panel w3-pale-yellow w3-border message-wrapper">
    <p class="w3-center">فعل حسابك لفتح الرسائل</p>
  </div>
</div>
{% endif %} {% endblock content %}