{% extends "base.html" %} {% block content %}

<div class="w3-row-padding raykomfi-main-padding w3-round-large raykomfi-max-width w3-white raykomfi-shadow-1"
  id="messages-view">
  {% if user.email_active %}
  <div class="w3-col s12 m12 l6">
    <div class="w3-padding message-view">
      <h3 class="w3-center">عرض رسالة</h3>
      {% if fetched_message %}

      <div class="message-sender">
        <span>المرسل</span>
        <span id="message-sender-field">
          <a href="{% url 'raykomfi:user-profile' id=fetched_message.user.id %}">{{ fetched_message.user }}</a></span>
      </div>
      <hr />
      <div class="message-content" id="message-content-field">
        <span>{{ fetched_message.content }}</span>
      </div>
      {% else %} لم تعرض أي رسالة {% endif %}
    </div>
  </div>
  <div class="w3-col s12 m12 l6">
    <h3>الرسائل الواردة</h3>
    <div class="incoming-messages-wrapper">
      {% if user_messages %}
      {% for message in user_messages %}
      <form class="getMessageForm" data-message-id="{{ message.id }}">
        <button type="submit"
          class="w3-card w3-padding message-button w3-round-large {{ message.is_read|yesno:'opened, ' }}">
          {% if message.is_read %}
          <i class="fa fa-envelope-open w3-left" aria-hidden="true"></i>
          {% else %}
          <i class="fa fa-envelope w3-left" aria-hidden="true"></i>
          {% endif %}
          <div class="w3-right w3-xlarge">{{ message.title }}</div>
          <div class="clear-fix"></div>
        </button>
      </form>
      {% endfor %}
      {% else %}
      <p class="w3-center">لا يوجد لديك أي رسائل واردة</p>
      {% endif %}
    </div>
  </div>

  {% else %}
  <div class="w3-display-container w3-panel w3-pale-yellow w3-border message-wrapper">
    <p class="w3-center">فعل حسابك لفتح الرسائل</p>
  </div>
</div>
{% endif %} {% endblock content %}