{% extends "base.html" %}

{% block content %}

<div class="row raykomfi-main-padding w3-round-large raykomfi-max-width">
    <div class="w3-col s12 m6 l6">&nbsp;</div>
    <div class="w3-col s12 m6 l6">
        <h3 class="w3-center">إرسال رسالة الى {{ receiver.username }}</h3>
        <form action="{% url 'raykomfi:new-message' code=receiver.uuid %}" method='post'>
            {% csrf_token %}
            {{ form }}
            <div class="col s12">
                <button class="w3-button raykomfi-button w3-round-large">إرسال</button>
            </div>
        </form>
    </div>
</div>


{% endblock content %}