{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col s12">
        <div class="card hoverable">
            <div class="card-content home-cards">
                <span class="card-title black-text"><i class="fa fa-user" aria-hidden="true"></i>
                    سامر غالي</span>
                <p>رايكم في اجهزة سامسونغ</p>
                <img src="https://via.placeholder.com/3000x3000" class="responsive-img" alt="">
            </div>
            <div class="card-action d-flex split-items blue darken-1">
                <span class="white-text">كمبيوتر <i class="fa fa-tag" aria-hidden="true"></i></span>
                <span class="white-text">منذ 5 ساعات</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h3>الاراء</h3>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="comment-box">
            <div class="like-dislike-side d-flex split-items blue-text darken-1">
                <div>
                    <span>12</span> <a href="#" class="fa fa-thumbs-up like" aria-hidden="true"></a>
                </div>
                <div>
                    <span>9</span> <a href="#" class="fa fa-thumbs-down dislike" aria-hidden="true"></a>
                </div>
            </div>

            <div class="comment-side">
                <small>منذ 5 دقائق</small>
                <div class="name"><i class="fa fa-user" aria-hidden="true"></i>
                    علي فيصل</div>
                <hr>
                <div class="comment">نعم كان عندي واحد ويشتغل تمام</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="comment-box">
            <div class="like-dislike-side d-flex split-items blue-text darken-1">
                <div>
                    <span>12</span> <a href="#" class="fa fa-thumbs-up like" aria-hidden="true"></a>
                </div>
                <div>
                    <span>9</span> <a href="#" class="fa fa-thumbs-down dislike" aria-hidden="true"></a>
                </div>
            </div>

            <div class="comment-side">
                <small>منذ 5 دقائق</small>
                <div class="name">علي فيصل</div>
                <hr>
                <div class="comment">لللشس للشيتستا تيببسب يبتبتسبي بيايسالي لايايليلايس ياسييشي س يايسي يي يشيبسبس نعم
                    كان عندي واحد ويشتغل تماملللشس للشيتستا تيببسب يبتبتسبي بيايسالي لايايليلايس ياسييشي س يايسي يي
                    يشيبسبس نعم
                    كان عندي واحد ويشتغل تماملللشس للشيتستا تيببسب يبتبتسبي بيايسالي لايايليلايس ياسييشي س يايسي يي
                    يشيبسبس نعم
                    كان عندي واحد ويشتغل تماملللشس للشيتستا تيببسب يبتبتسبي بيايسالي لايايليلايس ياسييشي س يايسي يي
                    يشيبسبس نعم
                    كان عندي واحد ويشتغل تماملللشس للشيتستا تيببسب يبتبتسبي بيايسالي لايايليلايس ياسييشي س يايسي يي
                    يشيبسبس نعم
                    كان عندي واحد ويشتغل تمام
                    م
                    كان عندي واحد ويشتغل تماملللشس للشيتستا تيببسب يبتبتسبي بيايسالي لايايليلايس ياسييشي س يايسي يي
                    يشيبسبس نعم
                    كان عندي واحد ويشتغل تماملللشس للشيتستا تيببسب يبتبتسبي بيايسالي لايايليلايس ياسييشي س يايسي يي
                    يشيبسبس نعم
                    كان عندي واحد ويشتغل تماملللشس للشيتستا تيببسب يبتبتسبي بيايسالي لايايليلايس ياسييشي س يايسي يي
                    يشيبسبس نعم
                    كان عندي واحد ويشتغل تماملللشس للشيتستا تيببسب يبتبتسبي بيايسالي لايايليلايس ياسييشي س يايسي يي
                    يشيبسبس نعم
                    كان عندي واحد ويشتغل تمام</div>
                <div class="replies">
                    <div class="card-panel">
                        <small>منذ 5 دقائق </small>
                        <div class="name">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            عزيز حامد
                        </div>
                        <hr>
                        <div class="comment">اتفق معك من جهة</div>
                    </div>
                    <div class="card-panel">
                        <small>منذ 5 دقائق</small>
                        <div class="name">
                            عزيز حامد
                        </div>
                        <hr>
                        <div class="comment">اتفق معك من جهة</div>
                    </div>
                    <div class="card-panel">
                        <small>منذ 5 دقائق</small>
                        <div class="name">
                            عزيز حامد
                        </div>
                        <hr>
                        <div class="comment">اتفق معك من جهة</div>
                    </div>
                </div>
                <div class="reply-box">
                    <form action="">
                        <div class="input-field col s12">
                            <textarea id="reply" class="materialize-textarea" name="reply" class="validate"></textarea>
                        </div>
                        <button type="submit" class="btn blue darken-1">رد</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="reply-box">
        <form action="">
            <div class="input-field col s12">
                <textarea id="comment" class="materialize-textarea" name="comment" placeholder="...تعليق"
                    class="validate"></textarea>
            </div>
            <button type="submit" class="btn blue darken-1">اضافة تعليق</button>
        </form>
    </div>
</div>





{% endblock content %}