{% extends "base.html" %}
{% load thumbnail %}
{% load humanize %}
{% load hitcount_tags %}

{% block content %}
<div class="w3-row-padding raykomfi-main-padding raykomfi-max-width">
    <div class="w3-col s12 m4 l4 w3-hide-small">
        <div class="related-posts w3-padding-16 w3-white z-depth-1 similar-questions">
            <h4 class="center raykomfi-bold raykomfi-main-color">إستفسارات مشابهة</h4>
            <div class="w3-row">
                <div class="w3-mobile">
                    <div class="ajax-loading-request-wrapper latest-comments-load">
                        <div class="box-overlay w3-display-container similar-questions-fix">
                            <div class="content-loader">
                                جاري التحميل ...
                            </div>
                        </div>
                    </div>
                    <div class="similar-questions-wrapper">
                        <div class="no-results-now-style">لا توجد نتائج حاليا</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- The Post Report Modal -->
    <div id="reportPost" class="w3-modal">
        <div class="w3-modal-content w3-animate-top">
            <div class="container">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content white-text">
                            <h6>حدد نوع الإبلاغ</h6>
                            <form class="reportForm">
                                {% csrf_token %}
                                <input class="w3-radio" type="radio" name="content" value="إساءة شخصية">
                                <label class="black-text">إساءة شخصية</label>
                                <br>
                                <input class="w3-radio" type="radio" name="content"
                                    value="مخالف لشروط إستخدام المنصة">
                                <label class="black-text">مخالف لشروط إستخدام المنصة</label>
                                <br>
                                <input class="w3-radio" type="radio" name="content"
                                    value="إساءة لطائفة أو إلى الدين">
                                <label class="black-text">إساءة لطائفة أو إلى الدين</label>
                                <input type="hidden" name="reported_url" value="{{post.get_absolute_url}}">
                                <input type="hidden" name="topic" value="post">
                                <br>
                                <button type="submit"
                                    class="btn raykomfi-main-background-color send-report-btn">إرسال</button>

                                <a class="btn red"
                                    onclick="document.getElementById('reportPost').style.display='none'">إغلاق</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- The Post Report Modal -->
    <!-- The Comment Report Modal -->
    <div id="reportComment" class="w3-modal">
        <div class="w3-modal-content w3-animate-top">
            <div class="container">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content white-text">
                            <h6>حدد نوع الإبلاغ</h6>
                            <form class="reportForm">
                                {% csrf_token %}
                                <input class="w3-radio" type="radio" name="content"
                                    value="إساءة شخصية">
                                <label class="black-text">إساءة
                                    شخصية</label>
                                <br>
                                <input class="w3-radio" type="radio" name="content"
                                    value="مخالف لشروط إستخدام المنصة">
                                <label class="black-text">مخالف
                                    لشروط إستخدام
                                    المنصة</label>
                                <br>
                                <input class="w3-radio" type="radio" name="content"
                                    value="إساءة لطائفة أو إلى الدين">
                                <label class="black-text">إساءة
                                    لطائفة أو إلى
                                    الدين</label>
                                <input type="hidden" name="reported_url" id="comment-reported-url"
                                    value="">
                                <br>

                                <input type="hidden" name="topic" value="comment">
                                <button type="submit"
                                    class="btn raykomfi-main-background-color send-report-btn">إرسال</button>

                                <a class="btn red"
                                    onclick="document.getElementById('reportComment').style.display='none'">إغلاق</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- The Comment Report Modal -->
    <!-- The Reply Report Modal -->
    <div id="reportReply" class="w3-modal">
        <div class="w3-modal-content w3-animate-top">
            <div class="container">
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content white-text">
                            <h6>حدد نوع الإبلاغ</h6>
                            <form class="reportForm">
                                {% csrf_token %}
                                <input class="w3-radio" type="radio" name="content"
                                    value="إساءة شخصية">
                                <label class="black-text">إساءة
                                    شخصية</label>
                                <br>
                                <input class="w3-radio" type="radio" name="content"
                                    value="مخالف لشروط إستخدام المنصة">
                                <label class="black-text">مخالف
                                    لشروط إستخدام
                                    المنصة</label>
                                <br>
                                <input class="w3-radio" type="radio" name="content"
                                    value="إساءة لطائفة أو إلى الدين">
                                <label class="black-text">إساءة
                                    لطائفة أو إلى
                                    الدين</label>
                                <input type="hidden" name="reported_url" id="reply-reported-url">
                                <input type="hidden" name="topic" value="reply">
                                <br>
                                <button type="submit"
                                    class="btn raykomfi-main-background-color send-report-btn">إرسال</button>

                                <a class="btn red"
                                    onclick="document.getElementById('reportReply').style.display='none'">إغلاق</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- The Comment Report Modal -->
    <div class="w3-col s12 m8 l8">
        <div class="w3-row white post-box raykomfi-border z-depth-1">
            <div class="w3-mobile">
                {% if post.creator and post.creator.is_devared != True %}
                <a href="{% url 'raykomfi:user-profile' id=post.creator.id %}">
                    <img src="{{ post.creator_image }}" alt="صورة {{user.username}} على رايكم في"  class="w3-circle creator-profile-image">
                    <span class="poster-name">
                        {{post.creator}}
                    </span>
                </a>
                {% else %}
                <span class="poster-name">
                    <img src="{{ post.creator_image }}" alt="صورة مجهول على رايكم في"  class="w3-circle creator-profile-image">
                    مجهول
                </span>
                {% endif %}
                <div class="post-info">
                    <div><i class="fa fa-clock-o" aria-hidden="true"></i> <span class="created-time grey-text raykomfi-bold"> <span class="grey-text raykomfi-bold">تاريخ النشر
                            </span>{{post.created|naturalday}}</span> &nbsp;&nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span class="created-time grey-text raykomfi-bold"> <span class="grey-text raykomfi-bold">آخر تعديل
                            </span>{{post.updated|naturalday}}</span></div>
                </div>
                <input type="hidden" name="post_category" id="post-category" value="{{post.category.name}}">
            </div>
            <div class="w3-mobile">
                <h1 class="raykomfi-bold raykomfi-main-color post-title">{{post.title}}</h1>
                {% if post.content %}
                <p>{{post.content|safe}}</p>
                {% endif %}
            </div>
            <div class="w3-mobile">
                {% if post.image and post.image_source %}

                <!-- Trigger the Modal -->
                <img id="raykomfi-myImg" src="" alt="{{post.title}}" data-src="{{ post.image.url }}" class="lazy-img ">

                <!-- The Modal -->
                <div id="raykomfi-myModal" class="raykomfi-modal">

                    <!-- Modal Content (The Image) -->
                    <img class="raykomfi-modal-content" id="raykomfi-modalImage">

                    <!-- Modal Caption (Image Text) -->
                    <div id="raykomfi-caption"></div>
                </div>

                <div>
                    <a href="{{ post.image_source }}" target="_blank">مصدر الصورة</a>
                </div>

                {% endif %}
            </div>
            <br>
            <div class="">
                {% if user.is_authenticated %}
                <button class="btn red raykomfi-post-report-btn"
                    onclick="document.getElementById('reportPost').style.display='block'">إبلاغ</button>
                {% endif %}
                {% if post.isActive == True or user.is_staff  %}
                <div class="w3-dropdown-click raykomfi-dropdown-click">
                    <button id="share-btn"
                        class="btn raykomfi-main-background-color raykomfi-action-btn">مشاركة</button>
                    {% if user.is_staff %}
                    <div class="sk-chase" id="sk-chase">
                            <div class="sk-chase-dot"></div>
                            <div class="sk-chase-dot"></div>
                            <div class="sk-chase-dot"></div>
                            <div class="sk-chase-dot"></div>
                            <div class="sk-chase-dot"></div>
                            <div class="sk-chase-dot"></div>
                        </div>
                
                        <a href="{% url 'raykomfi:post-edit' id=post.id slug=post.slug  %}"
                            class="raykomfi-action-btn green btn">تعديل</a>
                        <a href="#"
                            class="raykomfi-action-btn deep-orange darken-3 btn admin-action-btn" data-request-type="post" data-action="deactivate" data-url="{{request.get_full_path}}" data-id="{{post.id}}">إلغاء تفعيل</a>
                            <a href="#"
                            class="raykomfi-action-btn  teal darken-3 btn admin-action-btn" data-request-type="post" data-action="activate" data-url="{{request.get_full_path}}" data-id="{{post.id}}">تفعيل</a>
                            <a href="#"
                            class="raykomfi-action-btn orange darken-3 btn admin-action-btn" data-request-type="post" data-action="reportAsNotAllowed" data-url="{{request.get_full_path}}" data-id="{{post.id}}">إبلاغ كمخالف</a>
                            <a href="#"
                            class="raykomfi-action-btn blue-grey darken-2 btn admin-action-btn" data-request-type="post" data-action="delete" data-url="{{request.get_full_path}}" data-id="{{post.id}}">حذف</a>
                    {% endif %}
                    <div id="share-dropdown" class="w3-dropdown-content raykomfi-share-dropdown w3-bar-block z-depth-1">
                        <a href="https://twitter.com/intent/tweet?text={{request.build_absolute_uri}}"
                            class="w3-bar-item w3-button center" target="_blank">على
                            تويتر <i class="fa fa-twitter"></i></a>
                        <a href="#" id="copy-post-url" class="w3-bar-item w3-button center">نسخ الرابط <i
                                class="fa fa-files-o" aria-hidden="true"></i>
                        </a>
                        <input type="text" value="{{request.build_absolute_uri}}" id="inputToCopy" readonly>
                    </div>
                </div>
                {% endif %}
                {% if user.is_staff %}
                    <p class="green-text raykomfi-bold admin-action-message"></p>
                    <div class="w3-margin"></div>
                    {% if post.isActive %}
                        <div><i class="fa fa-circle green-text"></i> مفعل</div>
                    {% else %}
                        <div><i class="fa fa-circle red-text"></i> غير مفعل</div>
                    {% endif %}
                {% endif %}
                <!-- {% if post.keywords %}
                <p>كلمات مفتاحية</p>
                <div class="post-keywords" data-keywords="{{post.keywords}}">
                    
                </div>
                {% endif %} -->
            </div>
            <div class="left grey-text raykomfi-bold"><i class="fa fa-eye"></i> {% get_hit_count for post %}</div>
        </div>
        <div>
            {% if post.creator.id == user.id  and post.isActive == False %}
            <div class="red white-text center w3-padding w3-margin-top">يرجى الإنتظار ريثما تتم مراجعة الإستفسار</div>
            {% endif %}
        </div>
        <div>
            <h3>الآراء</h3>
        </div>
        <div class="w3-margin-bottom center">
            {% if post_comments|length > 3 %}
            <button class="btn green white-text waves-effect waves-light top-add-comment w3-margin-bottom">أضف رأيك <i
                class="fa fa-plus"></i></button>
            {% endif %}
        </div>
        <div class="w3-mobile reply-buttons">
            <div id="posts-wrapper">
                {% if post_comments|length > 0 %}
                {% for comment in post_comments %}
                <div class="talk-bubble tri-right border raykomfi-border {% cycle 'btm-right-in' ' left btm-left-in' %}" data-aos="fade-up" data-aos-delay="100">
                    <div class="talktext">
                        <div class="w3-col s10 m11 l11" id="comment-id-{{comment.id}}">
                            <div class="comment-side">
                                {% if comment.user and comment.user.is_devared != True %}
                                <a href="{% url 'raykomfi:user-profile' id=comment.user.id %}" class="writer-name">
                                    <div class="name">
                                        <img src="{{ comment.user.profile_image }}" alt="صورة {{comment.user.username}} على رايكم في"  class="w3-circle creator-profile-image">
                                        {{comment.user.username}}
                                        <span class="opinion-power">
                                            {{comment.user.user_trust}}
                                        </span>
                                    </div>
                                </a>
                                {% else %}
                                <span class="poster-name">
                                    <img src="{{ comment.user_image }}" alt="صورة مجهول على رايكم في"  class="w3-circle creator-profile-image">
                                    مجهول
                                </span>
                                {% endif %}
                                <div class="comment-reply-posted-time">
                                    <small><i class="fa fa-clock-o" aria-hidden="true"></i> <span
                                        class="created-time grey-text raykomfi-bold">{{comment.get_created_natural}}</span>
                                    </small>
                                    &nbsp;
                                    {% if comment.replies.all|length > 0%}
                                    <small class="raykomfi-main-background-color people-replied-to w3-padding-small"><span class="created-time white-text">
                                        <i class="fa fa-reply" aria-hidden="true"></i> {{comment.replies.all|length}} </span>
                                    </small>
                                    {% endif %}
                                </div>
                                <div class="comment"><pre>{{ comment.content|safe }}</pre></div>
                                <form class="editCommentForm-{{comment.id}} closest-edit-comment-form"
                                    data-comment-id="{{comment.id}}">
                                    {% csrf_token %}
                                    <textarea name="content" class="w3-input textarea-with-preservations w3-border-0" rows="4"></textarea>
                                    <button class="btn raykomfi-main-background-color raykomfi-action-btn"
                                        type="submit">تأكيد</button>
                                    <a href="" class="btn red raykomfi-action-btn close-comment-edit-form"
                                        data-comment-id="{{comment.id}}">إلغاء</a>
                                </form>
                                {% if user.is_authenticated %}
                                <button class="btn red raykomfi-report-btn comment-action-btn comment-report" data-comment-url="{{comment.get_noti_url}}">إبلاغ</button>
                                {% if comment.user.id == user.id or user.is_staff %}
                                <button class="btn green raykomfi-action-btn comment-action-btn edit-comment-btn"
                                    data-comment-id="{{ comment.id }}" data-content="{{comment.content}}">تعديل </button>
                                {% endif %}
                                {% if user.is_staff %}
                                <a href="#"
                                class="raykomfi-action-btn orange darken-3 btn admin-action-btn" data-request-type="comment" data-action="reportAsNotAllowed" data-url="{{request.get_full_path}}" data-id="{{comment.id}}">إبلاغ كمخالف</a>
                                <a href="#"
                                class="raykomfi-action-btn blue-grey darken-2 btn admin-action-btn" data-request-type="comment" data-action="devare" data-url="{{request.get_full_path}}" data-id="{{comment.id}}">حذف</a>
                                <div class="w3-margin"></div>
                                <p class="green-text raykomfi-bold admin-action-message"></p>
                                {% endif %}
                                {% endif %}
                            </div>
    
                            {% if comment.replies.all|length > 0 %}
                            <div class="comment-reply-side w3-padding post-replies">
                                {% for reply in comment.replies.all %}
                                <div class="w3-panel z-depth-1" id="to-{{reply.id}}">
                                    {% if reply.user and reply.user.is_devared != True and reply.user.email != 'anonymous@anonymous.com' %}
                                    <a href="{% url 'raykomfi:user-profile' id=reply.user.id %}" class="writer-name">
                                        <img src="{{ reply.user.profile_image }}" alt="صورة {{reply.user.username}} على رايكم في"  class="w3-circle creator-profile-image">
                                        <span class="name">
                                            {{reply.user.username}}
                                        </span>
                                    </a>
                                    {% else %}
                                    <span class="poster-name">
                                        <img src="{{ reply.user_image }}" alt="صورة مجهول على رايكم في"  class="w3-circle creator-profile-image">
                                        مجهول
                                    </span>
                                    {% endif %}
                                    <div class="comment-reply-posted-time">
                                        <small><i class="fa fa-clock-o" aria-hidden="true"></i><span class="created-time grey-text raykomfi-bold">
                                            {{reply.get_created_natural}}</span>
                                        </small>
                                    </div>
                                    <div class="reply"><pre>{{ reply.content|safe }}</pre></div>
                                    <form class="editReplyForm-{{reply.id}} closest-edit-reply-form"
                                        data-comment-id="{{comment.id}}" data-reply-id="{{reply.id}}">
                                        {% csrf_token %}
                                        <textarea name="content" class="w3-input w3-border textarea-with-preservations"></textarea>
                                        <button class="btn raykomfi-main-background-color raykomfi-action-btn"
                                            type="submit">تأكيد</button>
                                        <a href="" class="btn red raykomfi-action-btn close-reply-edit-form"
                                            data-reply-id="{{reply.id}}">إلغاء</a>
                                    </form>
                                    {% if user.is_authenticated %}
                                    <button class="btn red raykomfi-report-btn reply-action-btn report-reply" data-reply-url="{{reply.get_noti_url}}">إبلاغ</button>
                                    {% if reply.user.id == user.id or user.is_staff %}
                                    <button class="btn green raykomfi-action-btn reply-action-btn edit-reply-btn"
                                        data-reply-id="{{ reply.id }}" data-content="{{reply.content}}">تعديل
                                    </button>
                                    {% if user.is_staff %}
                                    <a href="#"
                                    class="raykomfi-action-btn orange darken-3 btn admin-action-btn" data-request-type="reply" data-action="reportAsNotAllowed" data-url="{{request.get_full_path}}" data-id="{{reply.id}}">إبلاغ كمخالف</a>
                                    <a href="#"
                                    class="raykomfi-action-btn blue-grey darken-2 btn admin-action-btn" data-request-type="reply" data-action="devare" data-url="{{request.get_full_path}}" data-id="{{reply.id}}">حذف</a>
                                    <div class="w3-margin"></div>
                                    <p class="green-text raykomfi-bold admin-action-message"></p>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <div>
                                <div class="show-hide-replies-bar raykomfi-main-background-color w3-padding-small"> أظهر الردود </div>
                            </div>
                            {% endif %}
                            <div class="reply">
                                <form class="replyForm" data-comment-id="{{comment.id}}">
                                    {% csrf_token %}
                                    <textarea name="reply_content" cols="40" rows="1"
                                        class="w3-input w3-border  reply-textarea textarea-with-preservations"
                                        id="id_reply_content-{{comment.id}}"></textarea>
                                    <div class="col s12">
                                        {% if user.is_authenticated %}
                                        <button class='w3-button z-depth-1 w3-margin-bottom' type="submit"> إضافة رد</button>
                                        {% else %}
                                        <a href="">سجّل الدخول</a> أو
                                        <button class='w3-button z-depth-1 w3-margin-bottom' type="submit" data-as-anonymous="true"> رد كمجهول</button>
                                        <div class="w3-margin-bottom">
                                            <a href="{% url 'raykomfi:usage-terms' %}" class="blue-text w3-small" target="_blank">بإضافة ردك أنت توافق على سياسات و شروط
                                               إستخدام المنصة</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="w3-col s2 m1 l1 w3-center vote-side" id="comment-{{comment.id}}-vote-side-wrapper">
                            <div>
                                <form class="voteForm" data-comment-id="{{comment.id}}" data-user-id={{user.id}}
                                    data-vote-type="like">
                                    {% csrf_token %}
                                    <button type="submit" {% if user in comment.voted_like.all %} disabled {% endif %}
                                        class="like-button"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                                </form>
                            </div>
                            <div class="raykomfi-bold">{{comment.votes}}</div>
                            <div>
                                <form class="voteForm" data-comment-id="{{comment.id}}" data-user-id={{user.id}}
                                    data-vote-type="dislike">
                                    <button type="submit" {% if user in comment.voted_dislike.all %} disabled {% endif %}
                                        class="dislike-button"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="center">لا يوجد رأي حتى الان, كن أول شخص يعطي رأيه</p>
                {% endif %}
            </div>
        </div>

        {% if comments_count > 5 %}
        <div class="sk-chase" id="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
        <div class="lazy-load-linkwrapper w3-center">
            <a id="lazyLoadLinkComments" class="w3-padding raykomfi-main-background-color" href="javascript:void(0);"
                data-page="2" {% if user.is_authenticated %} data-viewer="{{ user.id }}" {% endif %}>عرض
                المزيد</a>
        </div>
        {% endif %}
    </div>
</div>
<div class="w3-container">
    <div class="w3-col s12 m4 l4 w3-hide-small">
        &nbsp;
    </div>
    <div class="w3-col s12 m8 l8">
        <input type="hidden" id="post_id" value={{post.id}}>
        <div class="w3-margin-bottom center">
            <button class="btn green white-text waves-effect waves-light" id="add-comment-no-register">أضف رأيك <i
                    class="fa fa-plus"></i></button>
        </div>
        
        {% if user.is_authenticated %}
        <div id="comment" class="add-comment-section signed-in-comment">
            <div
                class="talk-bubble tri-right border raykomfi-border {% cycle 'btm-right-in' ' left btm-left-in' %} raykomfi-margin-0">
                <div class="w3-margin-bottom w3-margin-top">
                    <img src="{{ user.profile_image }}" class="w3-circle w3-margin-right" alt="{{ user.username }} صورة" width="50" height="50">
                    <span class="raykomfi-bold">{{ user.username }}</span>
                </div>
                <div class="talktext">
                    <form class="commentForm" data-post-id="{{post.id}}">
                        {% csrf_token %}
                        <textarea cols="40" rows="10" class="w3-input anonymous-comment-textarea w3-margin-right  textarea-with-preservations" placeholder="أكتب رأيك..."></textarea>
                        <div class="col s12">
                            <button class='w3-button raykomfi-button z-depth-1 w3-margin-right w3-margin-bottom'>
                                إضافة رأي</button>
                        </div>
        
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <div class="w3-mobile comment-button">
            <div class="w3-display-container">
                <form class="commentNoRegisterForm add-comment-section" data-post-id="{{post.id}}">
                    <div class="raykomfi-bold w3-margin-bottom">إذا أردت وصول تنبيهات في حالة أضيفت ردود لرأيك يجب عليك
                        تسجيل دخولك للمنصة أو تسجيل حساب جديد مسبقًا.</div>
                    <a href="{% url 'raykomfi:user-signin' %}"
                        class="btn light-blue darken-2 white-text waves-effect waves-light">تسجيل دخول</a>
                    <a href="{% url 'raykomfi:user-register' %}"
                        class="btn white light-blue-text waves-effect waves-light">تسجيل حساب</a>

                    <div class="w3-margin-top w3-margin-bottom raykomfi-bold"> يمكنك أيضا إضافة رأيك كمجهول &#128526
                    </div>
                    <div class="talk-bubble tri-right border raykomfi-border btm-right-in raykomfi-border raykomfi-margin-0">
                        <div class="w3-margin-bottom w3-margin-top">
                            <img src="" class="w3-circle w3-margin-right" alt="إستفسر كمجهول" width="50" height="50" id="anonymous-image">
                            <span class="raykomfi-bold">مجهول</span>
                        </div>
                        <div class="talktext">
                            {% csrf_token %}
                            <textarea cols="40" rows="10" class="anonymous-comment-textarea w3-margin-right"
                                placeholder="أكتب رأيك..."></textarea>
                            <input type="hidden" name="no_registration_image" id="id_creator_image" value="{{ no_registration_image }}">
                            <div class="col s12">
                                <button class='w3-button raykomfi-button z-depth-1 w3-margin-right'>
                                    إضافة رأي</button>
                                <div class="w3-margin-bottom w3-margin-right">
                                    <a href="{% url 'raykomfi:usage-terms' %}" class="blue-text w3-small" target="_blank">بإضافة رأيك أنت توافق على سياسات و شروط
                                        إستخدام المنصة</a>
                                </div>
                            </div>
                            <div id="noRegisterCommentError" class="red-text w3-margin-top">
                    
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<div class="w3-container w3-margin-top">
    <div class="w3-col s12 m4 l4 w3-hide-medium w3-hide-large">
        <div class="related-posts w3-padding-16 w3-white z-depth-1 similar-questions">
            <h4 class="center raykomfi-bold raykomfi-main-color">إستفسارات مشابهة</h4>
            <div class="w3-row">
                <div class="w3-mobile">
                    <div class="ajax-loading-request-wrapper">
                        <div class="box-overlay w3-display-container similar-questions-fix">
                            <div class="content-loader">
                                جاري التحميل ...
                            </div>
                        </div>
                    </div>
                    <div class="similar-questions-wrapper">
                        <div class="no-results-now-style">لا توجد نتائج حاليا</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}