{% extends "base.html" %}
{% load thumbnail %}
{% load humanize %}
{% load hitcount_tags %}

{% block content %}
<div class="w3-row-padding raykomfi-main-padding raykomfi-max-width">
    <div class="w3-col s12 m4 l4 w3-hide-small">
        <div class="related-posts w3-padding-16 w3-white z-depth-1">
            <h4 class="center">إستفسارات مشابهة</h4>
            <div class="w3-row">
                <div class="w3-mobile">
                    {% for related_post in related_posts %}
                    <div class="w3-margin">
                        <a href="{{ related_post.get_absolute_url }}">
                            {% if related_post.creator and related_post.creator.is_active != False %}
                            <span class="w3-round-small w3-right">
                                {{related_post.creator}}
                            </span>
                            {% else %}
                            <span class="w3-round-small w3-right">مجهول</span>
                            {% endif %}

                            &nbsp; <span class="raykomfi-color">{{related_post.title}}</span></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="w3-col s12 m8 l8">
        <div class="w3-row white post-box z-depth-1">
            <div class="w3-mobile">
                {% if post.creator and post.creator.is_active != False %}
                <a href="{% url 'raykomfi:user-profile' id=post.creator.id %}" class="writer-name">
                    <h6>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        {{post.creator}}
                    </h6>
                </a>
                {% else %}
                <h6>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    مجهول
                </h6>
                {% endif %}
            </div>
            <div class="w3-mobile">
                <h3>{{post.title}}</h3>
                {% if post.content %}
                <p>{{post.content}}</p>
                {% endif %}
            </div>
            <div class="w3-mobile">
                {% if post.image and post.image_source %}

                <!-- Trigger the Modal -->
                <img id="raykomfi-myImg" src="" alt="{{post.title}}" data-src="{{ post.image.url }}" class="lazy-img ">

                <!-- The Modal -->
                <div id="raykomfi-myModal" class="raykomfi-modal">

                    <!-- Modal Content (The Image) -->
                    <img class="raykomfi-modal-content" id="raykomfi-modalImage">

                    <!-- Modal Caption (Image Text) -->
                    <div id="raykomfi-caption"></div>
                </div>

                <div>
                    <a href="{{ post.image_source }}" target="_blank">مصدر الصورة</a>
                </div>

                {% endif %}
            </div>
            <br>
            <div class="">
                <div><i class="fa fa-clock-o" aria-hidden="true"></i> <span
                        class="created-time">{{post.created | naturaltime}}</span>
                </div>
                <div><i class="fa fa-tags" aria-hidden="true"></i> {{post.category}}</div>
                <div><i class="fa fa-eye"></i> {% get_hit_count for post %}</div>
                {% if user.is_authenticated %}
                <button class="btn red raykomfi-report-btn"
                    onclick="document.getElementById('reportPost').style.display='block'">إبلاغ</button>
                <!-- The Post Report Modal -->
                <div id="reportPost" class="w3-modal">
                    <div class="w3-modal-content w3-animate-top">
                        <div class="container">
                            <div class="col s12 m6">
                                <div class="card">
                                    <div class="card-content white-text">
                                        <h6>حدد نوع الإبلاغ</h6>
                                        <form class="reportForm">
                                            {% csrf_token %}
                                            <input class="w3-radio" type="radio" name="content" value="إساءة شخصية">
                                            <label class="black-text">إساءة شخصية</label>
                                            <br>
                                            <input class="w3-radio" type="radio" name="content"
                                                value="مخالف لشروط إستخدام المنصة">
                                            <label class="black-text">مخالف لشروط إستخدام المنصة</label>
                                            <br>
                                            <input class="w3-radio" type="radio" name="content"
                                                value="إساءة لطائفة أو إلى الدين">
                                            <label class="black-text">إساءة لطائفة أو إلى الدين</label>
                                            <input type="hidden" name="reported_url" value="{{post.get_absolute_url}}">
                                            <input type="hidden" name="topic" value="post">
                                            <br>
                                            <button type="submit"
                                                class="btn raykomfi-main-background-color send-report-btn">إرسال</button>

                                            <a class="btn red"
                                                onclick="document.getElementById('reportPost').style.display='none'">إغلاق</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- The Post Report Modal -->
                {% endif %}
                {% if post.isActive == True or user.is_staff  %}
                <div class="w3-dropdown-click raykomfi-dropdown-click">
                    <button id="share-btn"
                        class="btn raykomfi-main-background-color raykomfi-report-btn">مشاركة</button>
                    {% if user.is_staff %}
                        <a href="{% url 'raykomfi:post-edit' id=post.id slug=post.slug  %}"
                            class="raykomfi-report-btn green btn">تعديل</a>
                    {% endif %}
                    <div id="share-dropdown" class="w3-dropdown-content raykomfi-share-dropdown w3-bar-block z-depth-1">
                        <a href="https://twitter.com/intent/tweet?text={{request.build_absolute_uri}}"
                            class="w3-bar-item w3-button center" target="_blank">على
                            تويتر <i class="fa fa-twitter"></i></a>
                        <a href="#" id="copy-post-url" class="w3-bar-item w3-button center">نسخ الرابط <i
                                class="fa fa-files-o" aria-hidden="true"></i>
                        </a>
                        <input type="text" value="{{request.build_absolute_uri}}" id="inputToCopy" readonly>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div>
            {% if post.creator.id == user.id  and post.isActive == False %}
            <div class="red white-text center w3-padding">يرجى الإنتظار ريثما تتم مراجعة الإستفسار</div>
            {% endif %}
        </div>
        <div>
            <hr>
            <h3>الآراء</h3>
        </div>
        <div class=" w3-mobile reply-buttons">
            <div id="posts-wrapper">
                {% if post_comments|length > 0 %}
                {% for comment in post_comments %}
                <div class="w3-row comment-wrapper w3-border w3-padding z-depth-1">
                    <div class="w3-col s10 m11 l11" id="comment-id-{{comment.id}}">
                        <div class="comment-side">
                            {% if comment.user and reply.user.is_active != False %}
                            <a href="{% url 'raykomfi:user-profile' id=comment.user.id %}" class="writer-name">
                                <div class="name">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    {{comment.user.username}}
                                    <span class="opinion-power">
                                        {{comment.user.user_trust}}
                                    </span>
                                </div>
                            </a>
                            {% else %}
                            <div class="name">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                مجهول
                            </div>
                            {% endif %}
                            <small><i class="fa fa-clock-o" aria-hidden="true"></i><span
                                    class="created-time">{{comment.created | naturaltime}}</span>
                            </small>
                            <div class="comment">{{ comment.content }}</div>
                            <form class="editCommentForm-{{comment.id}} closest-edit-comment-form"
                                data-comment-id="{{comment.id}}">
                                {% csrf_token %}
                                <input type="text" name="content" class="w3-input w3-border">
                                <button class="btn raykomfi-main-background-color raykomfi-report-btn"
                                    type="submit">تأكيد</button>
                                <a href="" class="btn red raykomfi-report-btn close-comment-edit-form"
                                    data-comment-id="{{comment.id}}">إلغاء</a>
                            </form>
                            {% if user.is_authenticated %}
                            <button class="btn red raykomfi-report-btn comment-action-btn"
                                onclick="document.getElementById('reportComment').style.display='block'">إبلاغ</button>
                            {% if comment.user.id == user.id or user.is_staff %}
                            <button class="btn green raykomfi-report-btn comment-action-btn edit-comment-btn"
                                data-comment-id="{{ comment.id }}" data-content="{{comment.content}}">تعديل </button>
                            {% endif %}
                            {% endif %}
                            <!-- The Comment Report Modal -->
                            <div id="reportComment" class="w3-modal">
                                <div class="w3-modal-content w3-animate-top">
                                    <div class="container">
                                        <div class="col s12 m6">
                                            <div class="card">
                                                <div class="card-content white-text">
                                                    <h6>حدد نوع الإبلاغ</h6>
                                                    <form class="reportForm">
                                                        {% csrf_token %}
                                                        <input class="w3-radio" type="radio" name="content"
                                                            value="إساءة شخصية">
                                                        <label class="black-text">إساءة
                                                            شخصية</label>
                                                        <br>
                                                        <input class="w3-radio" type="radio" name="content"
                                                            value="مخالف لشروط إستخدام المنصة">
                                                        <label class="black-text">مخالف
                                                            لشروط إستخدام
                                                            المنصة</label>
                                                        <br>
                                                        <input class="w3-radio" type="radio" name="content"
                                                            value="إساءة لطائفة أو إلى الدين">
                                                        <label class="black-text">إساءة
                                                            لطائفة أو إلى
                                                            الدين</label>
                                                        <input type="hidden" name="reported_url"
                                                            value="{{comment.get_absolute_url}}">
                                                        <br>

                                                        <input type="hidden" name="topic" value="comment">
                                                        <button type="submit"
                                                            class="btn raykomfi-main-background-color send-report-btn">إرسال</button>

                                                        <a class="btn red"
                                                            onclick="document.getElementById('reportComment').style.display='none'">إغلاق</a>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- The Comment Report Modal -->
                        </div>

                        {% if comment.replies.all|length > 0 %}
                        <div class="comment-reply-side w3-padding ">
                            {% for reply in comment.replies.all %}
                            <div class="w3-panel z-depth-1" id="to-{{reply.id}}">
                                {% if reply.user and reply.user.is_active != False %}
                                <a href="{% url 'raykomfi:user-profile' id=reply.user.id %}" class="writer-name">
                                    <div class="name"><i class="fa fa-user" aria-hidden="true"></i>
                                        {{reply.user.username}}
                                        <span class="opinion-power">
                                            {{comment.user.user_trust}}
                                        </span>
                                    </div>
                                </a>
                                {% else %}
                                <div class="name"><i class="fa fa-user" aria-hidden="true"></i>
                                    مجهول
                                </div>
                                {% endif %}
                                <small><i class="fa fa-clock-o" aria-hidden="true"></i><span class="created-time">
                                        {{reply.created | naturaltime}}</span>
                                </small>
                                <div class="reply">{{ reply.content }}</div>
                                <form class="editReplyForm-{{reply.id}} closest-edit-reply-form"
                                    data-comment-id="{{comment.id}}" data-reply-id="{{reply.id}}">
                                    {% csrf_token %}
                                    <input type="text" name="content" class="w3-input w3-border">
                                    <button class="btn raykomfi-main-background-color raykomfi-report-btn"
                                        type="submit">تأكيد</button>
                                    <a href="" class="btn red raykomfi-report-btn close-reply-edit-form"
                                        data-reply-id="{{reply.id}}">إلغاء</a>
                                </form>
                                {% if user.is_authenticated %}
                                <button class="btn red raykomfi-report-btn reply-action-btn"
                                    onclick="document.getElementById('reportReply').style.display='block'">إبلاغ</button>
                                {% if reply.user.id == user.id or user.is_staff %}
                                <button class="btn green raykomfi-report-btn reply-action-btn edit-reply-btn"
                                    data-reply-id="{{ reply.id }}" data-content="{{reply.content}}">تعديل
                                </button>
                                {% endif %}
                                {% endif %}
                                <!-- The Reply Report Modal -->
                                <div id="reportReply" class="w3-modal">
                                    <div class="w3-modal-content w3-animate-top">
                                        <div class="container">
                                            <div class="col s12 m6">
                                                <div class="card">
                                                    <div class="card-content white-text">
                                                        <h6>حدد نوع الإبلاغ</h6>
                                                        <form class="reportForm">
                                                            {% csrf_token %}
                                                            <input class="w3-radio" type="radio" name="content"
                                                                value="إساءة شخصية">
                                                            <label class="black-text">إساءة
                                                                شخصية</label>
                                                            <br>
                                                            <input class="w3-radio" type="radio" name="content"
                                                                value="مخالف لشروط إستخدام المنصة">
                                                            <label class="black-text">مخالف
                                                                لشروط إستخدام
                                                                المنصة</label>
                                                            <br>
                                                            <input class="w3-radio" type="radio" name="content"
                                                                value="إساءة لطائفة أو إلى الدين">
                                                            <label class="black-text">إساءة
                                                                لطائفة أو إلى
                                                                الدين</label>
                                                            <input type="hidden" name="reported_url"
                                                                value="{{reply.get_noti_url}}">
                                                            <input type="hidden" name="topic" value="reply">
                                                            <br>
                                                            <button type="submit"
                                                                class="btn raykomfi-main-background-color send-report-btn">إرسال</button>

                                                            <a class="btn red"
                                                                onclick="document.getElementById('reportReply').style.display='none'">إغلاق</a>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- The Comment Report Modal -->
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if user.email_active %}
                        <div class="reply">
                            <form class="replyForm" data-comment-id="{{comment.id}}">
                                {% csrf_token %}
                                <textarea name="reply_content" cols="40" rows="1"
                                    class="w3-input w3-border   reply-textarea"
                                    id="id_reply_content-{{comment.id}}"></textarea>
                                <div class="col s12">
                                    <button class='w3-button z-depth-1' type="submit"> اضافة رد</button>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <div class="w3-col s2 m1 l1 w3-center vote-side" id="comment-{{comment.id}}-vote-side-wrapper">
                        <div>
                            <form class="voteForm" data-comment-id="{{comment.id}}" data-user-id={{user.id}}
                                data-vote-type="like">
                                {% csrf_token %}
                                <button type="submit" {% if user in comment.voted_like.all %} disabled {% endif %}
                                    class="like-button"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <div>{{comment.votes}}</div>
                        <div>
                            <form class="voteForm" data-comment-id="{{comment.id}}" data-user-id={{user.id}}
                                data-vote-type="dislike">
                                <button type="submit" {% if user in comment.voted_dislike.all %} disabled {% endif %}
                                    class="dislike-button"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="center">لا يوجد رأي حتى الان, كن أول شخص يعطي رأيه</p>
                {% endif %}
            </div>
        </div>

        {% if comments_count > 5 %}
        <div class="sk-chase" id="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
        <div class="lazy-load-linkwrapper w3-center">
            <a id="lazyLoadLinkComments" class="w3-padding raykomfi-main-background-color" href="javascript:void(0);"
                data-page="2">عرض
                المزيد</a>
        </div>
        {% endif %}

        <input type="hidden" id="post_id" value={{post.id}}>
        <div class="w3-mobile comment-button">
            <h3>إضافة رأي</h3>

            {% if not user.is_authenticated %}
            <div class="w3-display-container w3-panel w3-pale-yellow w3-border message-wrapper">
                <p class="w3-center"><a href="{% url 'raykomfi:user-register' %}" class="w3-text-blue">سجل حساب
                        جديد</a> أو <a href="{% url 'raykomfi:user-signin' %}" class="w3-text-blue">سجل الدخول</a>
                    للمشاركة في الآراء</p>
            </div>

            <div class="w3-display-container w3-panel">
                <div class="center">
                    <button class="btn green" id="add-comment-no-register">إضافة رأي بدون تسجيل</button>
                </div>
                <br>
                <form class="commentNoRegisterForm" data-post-id="{{post.id}}">
                    {% csrf_token %}
                    <textarea cols="40" rows="10" class="w3-input w3-border"></textarea>
                    <div class="w3-margin"></div>
                    <label for="code">رمز المشاركة</label>
                    <input type="text" class="w3-input w3-border" name="code" id="code">
                    <div class="col s12">
                        <button class='w3-button raykomfi-button z-depth-1'>
                            إضافة رأي</button>
                    </div>
                    <div id="noRegisterCommentError" class="red-text w3-margin-top">
                        
                    </div>
                </form>
            </div>

            {% else %}

            {% if user.email_active %}
            <div id="comment">
                <form class="commentForm" data-post-id="{{post.id}}">
                    {% csrf_token %}
                    <textarea cols="40" rows="10" class="w3-input w3-border  "></textarea>
                    <div class="col s12">
                        <button class='w3-button raykomfi-button z-depth-1'>
                            إضافة رأي</button>
                    </div>
                </form>
            </div>
            {% else %}
            <div class="w3-display-container w3-panel w3-border message-wrapper w3-pale-yellow">
                <p class="w3-center">فعل حسابك للمشاركة في الآراء</p>
            </div>

            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<div class="w3-col s12 m4 l4 w3-hide-medium w3-hide-large">
    <div class="related-posts w3-padding-16 w3-white z-depth-1">
        <h4 class="center">إستفسارات مشابهة</h4>
        <div class="w3-row">
            <div class="w3-mobile">
                {% for related_post in related_posts %}
                <div class="w3-margin">
                    <a href="{{ related_post.get_absolute_url }}">

                        {% if related_post.creator and related_post.creator.is_active != False %}
                        <span class="w3-round-small w3-right">
                            {{related_post.creator}}
                        </span>
                        {% else %}
                        <span class="w3-round-small w3-right">مجهول</span>
                        {% endif %}

                        &nbsp; <span class="raykomfi-color">{{related_post.title}}</span></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}