{% extends "base.html" %}
{% block content %}

<div class="w3-container">
    <div class="w3-col s12 m12 l6">&nbsp;</div>
    <div class="w3-col s12 m12 l6">
        <div class="card white">
            <div class="card-content">
                <h3 class="">شروط إستخدام رايكم في</h3>

                <div>
                    <div class="raykomfi-bold">1- واجب المستخدم</div>

                    <div class="meduim">باستخدامك أو زيارتك لهذا الموقع فإنك تقر وتوافق على هذه الشروط الذي يسنها رايكم
                        في
                        على المنصة من حين إلى آخر. ودخولك إليه ومشاركتك أو رفع مواد للمنصة يشير إلى موافقتك على الالتزام
                        بتلك
                        السياسة والشروط
                        والشروط، ولرايكم في الحق في تغيير هذه الشروط عبر نشرها عن طريق الموقع، ويتعين عليك حينها الإشارة
                        إلى
                        القبول والالتزام بتلك الشروط، وإذا لم توافق على أي من هذه الشروط فيرجى التوقف عن استخدام المنصة
                        فورا.
                    </div>
                </div>
                <br>
                <div>
                    <div class="raykomfi-bold">2- سياسة و شروط الاستخدام</div>

                    <div class="meduim"> تشويه السمعة واستخدام لغة بذيئة وعدوانية و مخالفة شروط إستخدام المنصة الأمور
                        سيؤدي
                        الى
                        إيقاف حساب الشخص.
                        وبموجب ذلك تتعهد هنا بأنك تملك جميع الموافقات<br> والإجراءات لاستخدام هذه المنصة, وتتعهد بأن
                        تلتزم
                        بكافة
                        الشروط, كما تتعهد بأنك قادر على الاطلاع
                        على تلك الشروط والالتزام بها.
                    </div>

                    <ol>
                        <li> أي صورة يتم إرفاقها للإستفسار يجب وضع رابط مصدرها وسيتم التأكد من المصدر عن طريق الادارة.
                        </li>
                        <li>لا يمكنك حذف حسابك من قاعدة البيانات كليا, لكن يتم إخفاء معلوماتك في جميع إستفساراتك, آرائك
                            وردودك في حالة حذفك لحسابك.
                        </li>
                        <li>عند التسجيل في المنصة سيتم تحديد دولتك تلقائيا وستحفظ في معلومات حسابك لتحديد مصدر الزوار.
                        </li>
                        <li>في حالة أردت إسترجاع حسابك يجب التواصل مع البريد الإلكتروني <a class="blue-text"
                                href="mailto:info@raykomfi.com">info@raykomfi.com</a>.
                        </li>
                        <li>السب والشتم والإعتداء على الأخرين لفظيا يؤدي لتوقيف حسابك فورا.
                        </li>
                        <li>في حال حصول سرقة للحساب أو تبليغ المستخدم عن سرقة حسابه، يتم إيقاف الحساب بشكل مؤقت ريثما
                            يتم
                            تزويدنا بالمعلومات التي تثبت ملكية الحساب.
                        </li>
                        <li>يلتزم المستخدم بإضافة معلومات حقيقية في حسابه وعدم انتحال أي شخصية كانت.
                        </li>
                        <li>التخريب، الضرر بالمستخدمين، أوبالمنصة... سيؤدي لإيقاف الحساب.
                        </li>
                        <li>يمنع استخدام الحساب في انتهاك حقوق الملكية الفكرية أو تشويه سمعة شخص أو مؤسسة أو شركة أو
                            تعمد
                            نشر أي
                            معلومات تسبب ضررا لشركة أو شخص أو دولة أو جماعة وعدم وضع مواد قرصنة وبرامج مسروقة وجميع ما
                            يخالف
                            الأعراف والقوانين المنظمة، ويكون المشترك مسؤولا مسؤولية كاملة عن كل ما ينشره في المنصة عبر
                            حسابه.
                        </li>
                    </ol>
                </div>

                <div>
                    <div class="raykomfi-bold">3- الخصوصية و ملفات تعريف الارتباط على الويب
                    </div>


                    <li> <b> البيانات </b> تعني جميع المعلومات التي ترسلها إلينا عبر الموقع. يتضمن هذا التعريف ، عند
                        الاقتضاء ، التعريفات الواردة في قانون حماية البيانات لعام 1998. </li>
                    <li> <b> ملف تعريف الارتباط </b> يعني ملفًا نصيًا صغيرًا يتم وضعه على جهاز الكمبيوتر الخاص بك
                            بواسطة هذا الموقع عند زيارتك لأجزاء معينة من الموقع و / أو عند استخدام ميزات معينة في
                            الموقع. </li>
                    <li> <b> قانون ملفات تعريف الارتباط في المملكة المتحدة والاتحاد الأوروبي </b> مصطلح يشير إلى لوائح
                            الخصوصية والاتصالات الإلكترونية (توجيهات EC) لعام 2003 بصيغتها المعدلة بموجب لوائح الخصوصية
                            والاتصالات الإلكترونية (توجيه EC) (المعدل) لعام 2011. </li>
                    <li> <b> اللائحة العامة لحماية البيانات في الاتحاد الأوروبي ، واللائحة العامة لحماية البيانات </b>
                        تعني اللائحة العامة لحماية البيانات 2016/679 ، وهي لائحة في قانون الاتحاد الأوروبي بشأن حماية
                        البيانات والخصوصية لجميع الأفراد داخل الاتحاد الأوروبي والمنطقة الاقتصادية الأوروبية. </li>
                    <li> <b> المستخدم </b> يعني أنت أو أي شخص يستخدم الموقع. </li>
                    </ul>
                    <br>
                    <div class="raykomfi-bold">قد يتم جمع كل أو أي من البيانات التالية نوع المتصفح, الأي بي الخاص بك لمعرفة من أي بلد تزورنا أو معلومات أخرى  بواسطة المنصة أو برنامج خدمة منفصل مثل Google Analytics من وقت لآخر</div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}