{% extends "base.html" %}
{% block content %}

<div class="w3-container">
    <div class="w3-col s12">
        <div class="card white">
            <div class="card-content">
                <h3 class="">سياسة الإستخدام</h3>

                <div>
                    <div class="raykomfi-bold">1- واجب المستخدم</div>

                    <div class="meduim">باستخدامك أو زيارتك لهذا المنصة فإنك تقر وتوافق على هذه الشروط الذي يسنها رايكم
                        في
                        على المنصة من حين إلى آخر. ودخولك إليه ومشاركتك أو رفع مواد للمنصة يشير إلى موافقتك على الالتزام
                        بتلك
                        السياسة والشروط
                        ، ولرايكم في الحق في تغيير هذه الشروط عبر نشرها عن طريق المنصة، ويتعين عليك حينها الإشارة
                        إلى
                        القبول والالتزام بتلك الشروط، وإذا لم توافق على أي من هذه الشروط فيرجى التوقف عن استخدام المنصة
                        فورا.
                    </div>
                </div>
                <br>
                <div>
                    <div class="raykomfi-bold">2- سياسة و شروط الاستخدام</div>

                    <div class="meduim"> تشويه السمعة واستخدام لغة بذيئة وعدوانية و مخالفة شروط إستخدام المنصة الأمور
                        سيؤدي
                        الى
                        إيقاف حساب الشخص.
                        وبموجب ذلك تتعهد هنا بأنك تملك جميع الموافقات<br> والإجراءات لاستخدام هذه المنصة, وتتعهد بأن
                        تلتزم
                        بكافة
                        الشروط, كما تتعهد بأنك قادر على الاطلاع
                        على تلك الشروط والالتزام بها.
                    </div>

                    <ol>
                        <li>
                         يمنع منعا باتا إستفسار رأي الناس في الدين , الأشياء المحرمة في الإسلام, جماعات أخرى, دول, أو الأمور السياسية وأي شخص يخالف هذا الأمر سيتم إغلاق حسابه فورا.
                        </li>
                        <li>
                            لا يمكنك التسجيل في المنصة من داخل الإتحاد الأوروبي, وفي حالة إستخدامك أحد برامج تغيير البلد
                            فالمستخدم يتحمل كامل العواقب القانونية ومنصة رايكم في تخلي مسؤوليتها من كل العواقب القانونية
                            المحتملة.
                        </li>
                        <li> أي صورة يتم إرفاقها للإستفسار يجب وضع رابط مصدرها وسيتم التأكد من المصدر عن طريق الادارة.
                        </li>
                        <li>لا يمكنك حذف حسابك من قاعدة البيانات كليا, لكن يتم حذف بريدك الإلكتروني وكامل بياناتك
                            الشخصية و إخفاء معلوماتك في جميع إستفساراتك, آرائك
                            وردودك في حالة حذفك لحسابك.
                        </li>
                        <li>عند التسجيل في المنصة سيتم تحديد دولتك تلقائيا وستحفظ في معلومات حسابك لتحديد مصدر الزوار.
                        </li>
                        <li>في حالة أردت إسترجاع حسابك يجب التواصل مع البريد الإلكتروني <a class="blue-text"
                                href="mailto:info@raykomfi.com">info@raykomfi.com</a>.
                        </li>
                        <li>السب والشتم والإعتداء على الأخرين لفظيا يؤدي لتوقيف حسابك فورا.
                        </li>
                        <li>في حال حصول سرقة للحساب أو تبليغ المستخدم عن سرقة حسابه، يتم إيقاف الحساب بشكل مؤقت ريثما
                            يتم
                            تزويدنا بالمعلومات التي تثبت ملكية الحساب.
                        </li>
                        <li>يلتزم المستخدم بإضافة معلومات حقيقية في حسابه وعدم انتحال أي شخصية كانت.
                        </li>
                        <li>التخريب، الضرر بالمستخدمين، أوبالمنصة... سيؤدي لإيقاف الحساب.
                        </li>
                        <li>يمنع استخدام الحساب في انتهاك حقوق الملكية الفكرية أو تشويه سمعة شخص أو مؤسسة أو شركة أو
                            تعمد
                            نشر أي
                            معلومات تسبب ضررا لشركة أو شخص أو دولة أو جماعة وعدم وضع مواد قرصنة وبرامج مسروقة وجميع ما
                            يخالف
                            الأعراف والقوانين المنظمة، ويكون المشترك مسؤولا مسؤولية كاملة عن كل ما ينشره في المنصة عبر
                            حسابه.
                        </li>
                    </ol>
                </div>

                <h3 class=""> سياسة الخصوصية</h3>

                <div class="raykomfi-bold">التعاريف والتفسير</div>
                <div>
                    <li> <b> البيانات </b> تعني جميع المعلومات التي ترسلها إلينا عبر المنصة. يتضمن هذا التعريف ، عند
                        الاقتضاء ، التعريفات الواردة في قانون حماية البيانات لعام 1998. </li>
                    <li> <b> ملف تعريف الارتباط </b> يعني ملفًا نصيًا صغيرًا يتم وضعه على جهاز الكمبيوتر الخاص بك
                        بواسطة هذا المنصة عند زيارتك لأجزاء معينة من المنصة و / أو عند استخدام ميزات معينة في
                        المنصة. </li>
                    <li> <b> قانون ملفات تعريف الارتباط في المملكة المتحدة والاتحاد الأوروبي </b> مصطلح يشير إلى لوائح
                        الخصوصية والاتصالات الإلكترونية (توجيهات EC) لعام 2003 بصيغتها المعدلة بموجب لوائح الخصوصية
                        والاتصالات الإلكترونية (توجيه EC) (المعدل) لعام 2011. </li>
                    <li> <b> اللائحة العامة لحماية البيانات في الاتحاد الأوروبي ، واللائحة العامة لحماية البيانات </b>
                        تعني اللائحة العامة لحماية البيانات 2016/679 ، وهي لائحة في قانون الاتحاد الأوروبي بشأن حماية
                        البيانات والخصوصية لجميع الأفراد داخل الاتحاد الأوروبي والمنطقة الاقتصادية الأوروبية. </li>
                    <li> <b> المستخدم </b> يعني أنت أو أي شخص يستخدم المنصة. </li>
                    </ul>
                    <br>
                </div>

                <div class="raykomfi-bold"> البيانات المجمعة </div>

                <div>قد يتم جمع كل أو أي من البيانات التالية بواسطة المنصة من وقت لآخر:</div>

                <div>
                    <li> الاسم </li>
                    <li> معلومات الاتصال مثل عناوين البريد الإلكتروني </li>
                    <li> عنوان IP (يتم تجميعه تلقائيًا) </li>
                    <li> نوع متصفح الويب وإصداره (يتم تجميعهما تلقائيًا) </li>
                    <li> نظام التشغيل (مجمّع تلقائيًا) </li>
                    <li> قائمة بعناوين URL التي تبدأ بمنصة الإحالة ونشاطك على المنصة والمنصة الذي تخرج منه (يتم جمعه
                        تلقائيًا). </li>

                </div>
                <br>
                <div class="raykomfi-bold">
                    مواقع وخدمات الطرف الثالث
                </div>
                <div class="">قد يتم جمع كل أو أي من البيانات التالية نوع المتصفح, الأي بي الخاص بك
                    لمعرفة من أي بلد تزورنا أو معلومات أخرى بواسطة خدمة طرف ثالث مثل Google Analytics
                    من وقت لآخر</div>
                <br>
                <div class="raykomfi-bold">
                    روابط لمواقع أخرى
                </div>

                <div>
                    يجوز لنا ، من وقت لآخر ، توفير روابط لمواقع أخرى. ليس لدينا سيطرة على مثل هذه المواقع ولا يمكننا أن
                    نكون مسؤولين عن محتواها. لا تمتد هذه السياسة إلى تلك المواقع الإلكترونية ونقترح عليك قراءة سياسة أو
                    بيان الخصوصية على تلك المواقع قبل استخدامها.
                </div>
                <br>
                <div class="raykomfi-bold">
                    التغييرات في ملكية الأعمال والتحكم فيها
                </div>

                <div>
                    قد نقوم ، من وقت لآخر ، بتوسيع أو تقليل أعمالنا وهذا قد يعني أن الأشخاص الذين يتحكمون في أعمالنا
                    يتغيرون. إذا فعلنا ذلك ، فسيتم نقل بياناتك ، إذا كان ذلك مناسبًا ، إلى الأشخاص الذين يتحكمون في
                    العمل بعد ذلك. سيكون لديهم نفس الحقوق والالتزامات التي نتمتع بها بموجب شروط هذه السياسة.

                    إذا قمنا بنقل البيانات لهذا السبب ، فلن نخبرك بذلك مسبقًا.
                </div>
                <br>
                <div class="raykomfi-bold">
                    الوصول إلى البيانات الخاصة بك
                </div>

                <div>
                    لديك الحق في طلب نسخة من أي من بياناتك الشخصية.
                </div>
                <br>
                <div class="raykomfi-bold">
                    الأمان
                </div>

                <div>
                    يعتبر أمن البيانات ذا أهمية كبيرة بالنسبة لنا ولحماية بياناتك ، فقد وضعنا العديد من الإجراءات
                    المادية والإلكترونية والإدارية لحماية وتأمين البيانات التي يتم جمعها عبر المنصة.
                </div>
                <br>
                <div class="raykomfi-bold">
                    ملفات تعريف الارتباط على الويب
                </div>

                <div>
                    هذه ملفات تعريف ارتباط الطرف الأول ونضعها عبر المنصة ونستخدمها فقط. نستخدم ملفات تعريف الارتباط
                    لتحسين تجربتك في استخدام المنصة ولتحسين مجموعة منتجاتنا و / أو خدماتنا. نختار ملفات تعريف الارتباط
                    التي نستخدمها بعناية واتخذنا خطوات للتأكد من حماية خصوصيتك واحترامها دائمًا.

                    تُستخدم جميع ملفات تعريف الارتباط التي يستخدمها المنصة وفقًا لقانون ملفات تعريف الارتباط الحالي في
                    المملكة المتحدة والاتحاد الأوروبي.

                    تحتاج بعض ميزات المنصة إلى ملفات تعريف الارتباط حتى تعمل هذه الميزات. يعتبر قانون ملفات تعريف
                    الارتباط في المملكة المتحدة والاتحاد الأوروبي ملفات تعريف الارتباط هذه "ضرورية للغاية". في هذه
                    الحالات ، لا نطلب موافقتك على وضعها ولكن لا يزال بإمكانك حظر ملفات تعريف الارتباط هذه عن طريق تغيير
                    إعدادات متصفح الإنترنت الخاص بك كما هو مفصل أدناه.

                    يستخدم المنصة خدمات التحليلات التي تقدمها Google وغيرها. "التحليلات" هي مجموعة من الأدوات المستخدمة
                    لجمع وتحليل كيفية استخدام المنصة والتي تساعدنا بعد ذلك على فهم احتياجات مستخدمينا. وهذا بدوره يعني
                    أنه يمكننا تحسين المنصة والمنتجات و / أو الخدمات المقدمة من خلاله.

                    لا يتعين عليك السماح لنا باستخدام ملفات تعريف الارتباط التحليلية هذه ، ولكن عندما نستخدمها ، لن تكون
                    خصوصيتك واستخدامك الآمن للمنصة في خطر.

                    قد تضع خدمة التحليلات ملفات تعريف الارتباط على جهازك فور زيارتك للمنصة وقد لا يكون من الممكن الحصول
                    على موافقتك قبل ذلك. يمكنك إزالة ملفات تعريف الارتباط هذه ومنع استخدامها في المستقبل باتباع الخطوات
                    الموضحة أدناه:
                </div>
                <br>
                <div>

                    <li> يمكنك اختيار تمكين أو تعطيل ملفات تعريف الارتباط في متصفح الإنترنت الخاص بك. </li>
                    <li> تتيح لك معظم متصفحات الإنترنت اختيار ما إذا كنت ترغب في تعطيل جميع ملفات تعريف الارتباط أو
                        ملفات تعريف ارتباط الطرف الثالث فقط. </li>
                    <li> بشكل افتراضي ، تقبل معظم متصفحات الإنترنت ملفات تعريف الارتباط ولكن يمكن تغيير ذلك. لمزيد من
                        التفاصيل ، يرجى الرجوع إلى قائمة المساعدة في متصفح الإنترنت الخاص بك. </li>
                    <li> يمكنك اختيار حذف ملفات تعريف الارتباط في أي وقت ، ولكن إذا قمت بذلك ، فقد تفقد أي معلومات
                        تمكّنك من الوصول إلى المنصة بسرعة وكفاءة وقد تفقد إعداداتك الشخصية. </li>

                </div>



            </div>
        </div>
    </div>
</div>

{% endblock content %}