{% extends "base.html" %}
{% load thumbnail %}
{% load humanize %}

{% block content %}

<div class="w3-row-padding raykomfi-main-padding w3-round-large raykomfi-max-width">
  {% if user.email_active %}
  <div class="w3-col s12 m6 l6">
    &nbsp;
  </div>
  <div class="w3-col s12 m12 l6">
    <h3>إستفساراتي</h3>
    <br>
    {% if posts %}
    <div id="raykomfi-posts">
      {% for post in posts %}
      <div class="w3-padding ray-box w3-round-large raykomfi-shadow-1">
        {% if post.creator and post.creator.is_active != False %}
        <a href="{% url 'raykomfi:user-profile' id=post.creator.id %}">
          <span class="poster-name">
            <i class="fa fa-user" aria-hidden="true"></i>
            {{post.creator}}
          </span>
        </a>
        {% else %}
        <span class="poster-name">
          <i class="fa fa-user" aria-hidden="true"></i>
          عضو لم يعد موجود
        </span>
        {% endif %}
        <a href="{{post.get_absolute_url}}">
          <h3>{{post.title |truncatechars:100}}</h3>
          {% if post.image %}
          <div class="ray-image-section">
            <img src="" alt="{{post.title}}" data-src="{{ post.image.url }}" class="lazy-img w3-round-large">
          </div>
          {% endif %}
          <br>
          <div>
            <a href="{% url 'raykomfi:post-edit' id=post.id slug=post.slug  %}"
              class="w3-button raykomfi-button w3-round-large">تعديل</a>
          </div>
          <div class="ray-box-footer-icons">
            <div class="">
              <span><i class="fa fa-clock-o" aria-hidden="true"></i> {{post.created | naturaltime}}</span>
            </div>
            <div class="">
              <span><i class="fa fa-comments" aria-hidden="true"></i> {{post.comments.count}}</span>
            </div>
            <div class="">
              <span><i class="fa fa-tags" aria-hidden="true"></i> {{post.category}}</span>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
      {% else %}
      <p class="w3-center">لم تسأل رأي الناس عن أي منتج</p>
      {% endif %}
    </div>
    <div class="sk-chase" id="sk-chase">
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
    </div>
    {% if count_posts < 6 %}

    {% else %}
    <div class="lazy-load-linkwrapper w3-center">
      <a id="lazyLoadLink" class="w3-border w3-padding" href="javascript:void(0);" data-page="2"
        data-user="{{ user.id }}">عرض المزيد</a>
    </div>
    {% endif %}
    {% endif %} {% endblock content %}