{% extends "base.html" %}

{% block content %}

<div class="w3-container">
    <div class="row raykomfi-main-padding  raykomfi-max-width">
        <div class="raykomfi-form">
            <h3 class="w3-center">طلب رابط تفعيل جديد</h3>
            <form action="{% url 'raykomfi:user-send-link' %}" method='post' id="requestActivationLinkForm">
                {% csrf_token %}
                <input type="email" name="email" class="w3-input w3-border " data-parsley-required="true"
                    data-parsley-required-message="هذا الحقل مطلوب." data-parsley-type="email"
                    data-parsley-type-message="بريد إلكتروني غير صالح">
                <button class="w3-button raykomfi-button w3-round-center " type="submit">طلب</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}