{% extends "base.html" %}

{% block content %}

<div class="w3-container">
    <div class="row raykomfi-main-padding  raykomfi-max-width">
        <div class="w3-col s12 m6 l8">&nbsp;</div>
        <div class="w3-col s12 m6 l4">
            <p class="w3-center">رابط منتهي الصلاحية, إضغط لطلب رابط جديد</p>
            <form action="{% url 'raykomfi:user-send-link' %}" method='post' id="failedActivationForm">
                {% csrf_token %}
                <label for="">البريد الإلكتروني</label>
                <input type="email" name="email" class="w3-input w3-border" data-parsley-required="true"
                data-parsley-required-message="هذا الحقل مطلوب." data-parsley-type="email"
                data-parsley-type-message="بريد إلكتروني غير صالح">
                <button class="w3-button raykomfi-button w3-round-center">طلب مرة أخرى</button>
            </form>
        </div>
    </div>
</div>



{% endblock content %}