{% extends "base.html" %}

{% block content %}

<div class="row">
    <form class="col s12">
        <h1 class="center">تغيير كلمة المرور</h1>
        <div class="row">
            <div class="input-field col s12">
                <input id="username" type="text" name="current_password" placeholder="كلمة المرورالحالية"
                    class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="username" type="text" name="password1" placeholder="كلمة المرور" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="username" type="text" name="password_repeat" placeholder="تأكيد كلمة المرور"
                    class="validate">
            </div>
        </div>

        <button type="submit" class="btn btn blue white-text darken-1">تأكيد</button>
    </form>
</div>


{% endblock content %}