{% extends "base.html" %}
{% load materializecss %}

{% block content %}

<div class="row raykomfi-main-padding w3-round-large raykomfi-max-width">
    <div class="w3-col s12 m6 l6">&nbsp;</div>
    <div class="w3-col s12 m6 l6">
        <h3 class="w3-center">تغيير كلمة المرور</h3>
        <form action="{% url 'raykomfi:user-change-password' %}" method='post' id="change-password-form">
            {% csrf_token %}
            {{ form }}
            <button class="w3-button raykomfi-button w3-round-large">تأكيد</button>
        </form>
    </div>
</div>


{% endblock content %}