{% extends "base.html" %}

{% block content %}

<div class="w3-container">
    <div class="row raykomfi-main-padding  raykomfi-max-width">
        <div class="w3-col s12 m12 l8">&nbsp;</div>
        <div class="w3-col s12 m12 l4">
            <h3 class="w3-center">طلب تغيير كلمة المرور</h3>
            <form action="{% url 'raykomfi:user-forgot-password' %}" method='post' id="forgot-password-form">
                {% csrf_token %}
                {{ form }}
                <button class="w3-button raykomfi-button ">طلب</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}