{% extends "base.html" %}

{% block content %}

<div class="row">
    <form class="col s12">
        <h3 class="center">نسيت كلمة المرور؟ لا مشكلة</h3>
        <p>سوف نقوم بارسال كلمة المرور الى ايميلك </p>
        <div class="row">
            <div class="input-field col s12">
                <input id="username" type="text" class="validate" placeholder="ايميلك المسجل به">
            </div>
        </div>
        <button type="submit" class="btn btn blue white-text darken-1">ارسال</button>
    </form>
</div>


{% endblock content %}