{% extends "base.html" %}
{% load materializecss %}

{% block content %}

<div class="row">
    <div class="w3-col s12 m6 l6">&nbsp;</div>
    <div class="w3-col s12 m6 l6">
        <h3 class="w3-center">طلب تغيير كلمة المرور</h3>
        <form action="{% url 'raykomfi:user-forgot-password' %}" method='post'>
            {% csrf_token %}
            {{ form|materializecss }}
            <button class="w3-button raykomfi-button w3-round-large">طلب</button>
        </form>
    </div>
</div>


{% endblock content %}