{% extends "base.html" %}
{% load materializecss %}

{% block content %}

<div class="w3-container">
    <div class="row raykomfi-main-padding  raykomfi-max-width">
        <div class="w3-col s12 m12 l8">&nbsp;</div>
        <div class="w3-col s12 m12 l4">
            <h3 class="w3-center">طلب رمز المشاركة</h3>
            <form action="{% url 'raykomfi:user-actions-forgot-code' %}" method='post' id="forgot-no-register-code">
                {% csrf_token %}
                {{ form }}
                <button class="w3-button raykomfi-button ">تأكيد</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}