{% extends "base.html" %}

{% block content %}

<div class="w3-row">
    {% if user.id == request.resolver_match.kwargs.id %}
    <div class="w3-col s12 m6 l6">
        <div class="w3-center">
            <i class="fa fa-user-circle-o large-font profile-icon" aria-hidden="true"></i>
            <h1 class="w3-xxxlarge">{{user.username}}</h1>
            <h3 class="w3-xlarge">رمز العضو <br> {{ user.uuid }}</h3>
            <a href="{% url 'raykomfi:user-change-password' %}" class="w3-button raykomfi-button w3-round-large"> تغيير
                كلمة
                المرور</a>
            <a href="{% url 'raykomfi:user-delete' id=user.id %}?question=true"
                class="w3-button raykomfi-button raykomfi-button-no-hover w3-red w3-round-large">
                حذف الحساب</a>
        </div>
    </div>
    <div class="w3-col s12 m6 l6">
        <form action="{% url 'raykomfi:user-profile' id=user.id %}" method='post'>
            {% csrf_token %}
            {{ form }}
            <button class="w3-button raykomfi-button w3-round-large">تعديل</button>
        </form>
    </div>
    {% else %}
    <div class="w3-col s12 m6 l6">
        <div class="w3-center">
            <i class="fa fa-user-circle-o large-font profile-icon" aria-hidden="true"></i>
            <h1 class="w3-xxxlarge">{{profile.username}}</h1>
            <h3 class="w3-xlarge">رمز العضو <br> {{ profile.uuid }}</h3>
        </div>
    </div>
    <div class="w3-col s12 m6 l6 profile-view-data">
        <p><span>الاسم الأول</span>{{profile.first_name}}</p>
        <hr>
        <p><span>الاسم الأخير</span>{{profile.last_name}}</p>
        <hr>
        <p><span>الدولة</span>{{profile.country}}</p>
        <hr>
        <p><span>أعضاء متفقين</span>15</p>
        <a href="{% url 'raykomfi:new-message' code=profile.uuid %}" class="w3-button raykomfi-button w3-round-large">
            إرسال رسالة
        </a>
        <hr>
        <h3>إستفسارات {{profile.username}}</h3>
        <div class="user-posts-wrapper">
            {% for post in profile.posts.all %}
            <a href="{{ post.get_absolute_url }}">
                <div class="w3-card w3-padding">
                    {{post.title}}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>

{% endblock content %}