{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div class="w3-row w3-white raykomfi-main-padding  raykomfi-max-width z-depth-1 user-profile">
    <br>
    {% if user.id == request.resolver_match.kwargs.id %}
    <div class="w3-col s12 m6 l6">
        <div class="w3-center">
            <i class="fa fa-user-circle-o large-font profile-icon" aria-hidden="true"></i>
            <h2 class=""><br>{{user.username}}</h2>
            {% if user.online %}
            <div><i class="fa fa-circle green-text w3-medium" aria-hidden="true"></i> متصل حاليا</div>
            {% else %}
            <div> {{ user.last_signin }} آخر ظهور</div>
            {% endif %}
            <!-- <h4 class="w3-xlarge">رمز العضو <br> {{ user.uuid }}</h4> -->
            <h4 class="w3-xlarge">قوة آرائي<br></h4>
            <div class="opinion-power">
                {{user.user_trust}}
            </div>
            <br>
            <a href="{% url 'raykomfi:user-change-password' %}" class="w3-button raykomfi-button "> تغيير
                كلمة
                المرور</a>
            <a href="{% url 'raykomfi:user-delete' id=user.id %}?question=true"
                class="w3-button raykomfi-button raykomfi-button-no-hover w3-red ">
                حذف الحساب</a>
        </div>
    </div>
    <div class="w3-col s12 m6 l6">
        <form action="{% url 'raykomfi:user-profile' id=user.id %}" id="profile-form" method='post'>
            {% csrf_token %}
            {% for field in form %}
            {% if field.field.widget.input_type == 'checkbox' %}
            <div class="w3-col">
                <br>
                <label class="raykomfi-switch">
                    {{ field }}
                    <span class="raykomfi-slider"></span>
                </label>
                {{ field.label }}
            </div>
            {% elif field.name == 'bio' %} <br />
            {{ field.errors }}
            {{ field.label_tag }} <br />
            {{ field }}
            <br>
            <div for="">البريد الإلكتروني</div>
            <div class="w3-border w3-padding"> {{ user.email }}</div>
            <a href="{% url 'raykomfi:user-change-email' %}" class="w3-button raykomfi-button z-depth-1">تغيير البريد
                الإلكتروني</a>
            <br>
            {% else %}
            {{ field.errors }}
            {{ field.label_tag }} <br />
            {{ field }}
            {% endif %}
            {% endfor %}
            <button class="w3-button raykomfi-button z-depth-1">تعديل</button>
        </form>
    </div>
    {% else %}
    <div class="w3-col s12 m6 l6">
        <div class="w3-center">
            <i class="fa fa-user-circle-o large-font profile-icon" aria-hidden="true"></i>
            <h1 class="w3-xxlarge">{{profile.username}}</h1>
            {% if profile.online == True %}
            <div><i class="fa fa-circle green-text w3-medium" aria-hidden="true"></i> متصل حاليا</div>
            {% else %}
            {% if profile.last_seen %}
            <div class="raykomfi-main-background-color w3-padding white-text raykomfi-inline-block"> آخر ظهور | <span
                class='created-time white-text'>{{profile.last_seen | naturaltime}}</span></div>
            {% else %}
            <div class="raykomfi-main-background-color w3-padding white-text raykomfi-inline-block"> آخر ظهور | <span
                class='created-time white-text'>{{profile.last_login | naturaltime}}</span></div>
            {% endif %}
            {% endif %}
            <!-- <h3 class="w3-xlarge">رمز العضو <br> {{ profile.uuid }}</h3> -->
            {% if profile.bio %}
            <div class="w3-margin">
                <div class="center">{{ profile.bio }}</div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="w3-col s12 m6 l6 profile-view-data">
        <div class=" another-user-profile ">
            <p><span class="title">الاسم الأول</span>{% if profile.hide_name == True %} {{ profile.first_name }} {% else %}
                {% endif %}</p>
            <hr>
            <p><span class="title">الاسم الأخير</span>{% if profile.hide_name == True %} {{ profile.last_name }} {% else %}
                 {% endif %}</p>
            <hr>
            <p><span class="title">قوة الرأي</span><span class="opinion-power">{{profile.user_trust}}</span></p>
            {% if user.email_active and profile.allow_messages == True %}
            <a href="{% url 'raykomfi:new-message' code=profile.uuid %}" class="w3-button raykomfi-button ">
                إرسال رسالة
            </a>
            {% endif %}
        </div>
        <br>
        <h3>إستفسارات {{profile.username}}</h3>
        <div class="user-posts-wrapper">
            {% if profile.posts.all %}
            {% for post in profile.posts.all %}
            <a href="{{ post.get_absolute_url }}">
                <div class="z-depth-1 raykomfi-main-background-color white-text">
                    {{post.title}}
                </div>
            </a>
            {% endfor %}
            {% else %}
            <div class="center">لا يوجد إستفسارات لهذا العضو</div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}