{% extends "base.html" %}

{% block content %}

<div class="w3-container">
    <div class="row raykomfi-main-padding raykomfi-max-width">
        <div class="w3-col s12 m12 l8">&nbsp;</div>
        <div class="w3-col s12 m12 l4">
            <h3 class="w3-center">حساب جديد</h3>
            <p class="center"> لديك حساب من قبل؟   <a href="/user/signin/">سجل دخولك من هنا</a></p>
            <form action="{% url 'raykomfi:user-register' %}" method='post' id="raykomfi-register-form">
                {% csrf_token %}
                {% for field in form %}
                {% if field.field.widget.input_type == 'checkbox' %}
                <div class="w3-col">
                {{ field }}
                <a href="{% url 'raykomfi:usage-terms' %}" target="_blank">أوافق على سياسات و شروط المنصة</a>
                </div>
                {% else %}
                {% if field.label != 'c' %}
                    {{ field.label_tag }} <br />
                {% endif %}
                {{ field }}
                {{ field.errors }}
                {% endif %}
                {% endfor %}
                <div class="col s12">
                    <button class="w3-button raykomfi-button " name="button">تسجيل</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}