{% extends "base.html" %}

{% block content %}

<div class="row">
    <form class="col s12">
        <h1 class="center">تسجيل دخول</h1>
        <div class="row">
            <div class="input-field col s12">
                <input id="username" type="text" class="validate" placeholder="اسم المستخدم">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" placeholder="كلمة المرور">
            </div>
        </div>
        <div class="row">
            نسيت كلمة المرور؟ <a href="/user/forgot">اضغط هنا </a>
        </div>
        <button type="submit" class="btn btn blue white-text darken-1">تسجيل دخول</button>
    </form>
</div>


{% endblock content %}